[2015-03-06 12:46] bckfnn opened #6 "ShiroAuthService seems to autologout after 5 seconds."
This is mostly a query to see if I have misunderstood the behaviour, but it seems that refreshLoginSession must be called immediately after a login, otherwise the session is timeout'd the first time the reaper is run.

Is it also intended that refreshLoginSession should be called manually to keep the login session alive? I would have guessed that calls to hasPermission() and hasRole() would keep t

[2015-03-06 16:56] purplefox commented on #6
Good catch. Should be fixed now in master.

[2015-03-06 16:56] #6 closed

[2015-03-20 18:33] dgoldensquared opened #7 "service descriptor json file naming"
Please node [service descriptor json file name](https://github.com/vert-x3/vertx-service-factory#service-descriptor) needs to match maven coords for [vertx-maven-service-factory](https://github.com/vert-x3/vertx-maven-service-factory) dynamic deployment to work correctly, see recent [vertx-dev discussion](https://groups.google.com/d/msg/vertx-dev/ecebSprWDRA/O4vtkumTFxcJ)

[2015-03-20 18:36] dgoldensquared opened #8 "separate services into different maven artifacts"
This is necessary for them to be deployed by [vertx-maven-service-factory](https://github.com/vert-x3/vertx-maven-service-factory), see recent [vertx-dev discussion](https://groups.google.com/d/msg/vertx-dev/ecebSprWDRA/O4vtkumTFxcJ)

[2015-03-26 11:19] #8 closed

[2015-03-26 11:19] #7 closed

[2015-04-20 21:49] stephane-bastian opened #11 "Add an API equivalent to Shiro.isRemembered()"
Hi,

I've been trying to migrate our code over to the new Authenticaton service. However, I could not find anything equivalent to Shiro Subject.isRemembered ?
http://shiro.apache.org/static/1.2.3/apidocs/org/apache/shiro/subject/Subject.html#isRemembered%28%29

IMHO, this feature is very important but seems to be currently missing from Vertx.

[2015-05-23 09:25] stephane-bastian commented on #11
This real use case here is to make sure that a user is really authenticated during the current Session before doing any 'sensitive' actions. For example, displaying credit card information. A work around is to ask the user to login again before performing any sensitive tasks. Therefore I am closing this issue for now.

[2015-05-23 09:25] #11 closed

[2015-05-26 18:35] pmlopes opened #16 "Refactor roles/permissions to authorities"
Currently we have `user.hasRole(String)` and `user.hasPermission(String)` even though the separation of `roles` and `permissions` sounds logic there are some deficiencies with the current implementation.

The first false assumption is that roles and permissions are independent and relate to a user. So say that user `Paulo` has role `dev` and permission `push`. Now lets assume the whole application

[2015-05-27 07:58] stephane-bastian commented on #16
Hey Paulo,
At the end of the day, an AuthProvider will read roles and permissions from a DB, an LDAP server, etc..
Roles and Permissions may be structured as above (domain:action:instance), support wildcards or not.
The real issue here is to provide the *correct* implementation for hasPermission() and hasRole() => Do we need to support wildcards, do we need to support domain:action:instance, etc.

[2015-05-27 09:51] pmlopes commented on #16
Hi Stephane,

I'm currently updating the docs to make things explicit. So What you are suggesting for item 2 is similar to what we currently have. A user has a set of Roles and a set of Permissions. We are explicitly stating that roles and permissions are opaque Strings, that have no meaning to the auth module but do have meaning for the provider implementation.

Meaning that currently we match us

[2015-05-27 10:01] stephane-bastian commented on #16
Paulo,
IMO a developer should be able to do wildcard matching even though he is not using a provider based on Shiro (for instance the new JDBC AuthProvider), don't you think?
The idea of matching using wildcards comes from Shiro (AFAIK) but it is so convenient that this could(/should?) be the default way of matching permissions in Vertx Auth (even for not Shiro Auth), WDYT?

[2015-05-27 10:12] purplefox commented on #16
I'm confused - I thought we were getting rid of hasPermission()/hasRole() and replacing with isPermitted(), where the semantics of isPermitted() is completely up to the implementation?

[2015-05-27 10:21] purplefox commented on #16
We can't mandate that a provider supports wildcard matching - many will not do this, and we can't do it ourselves as it's not possible in the general case to load all permisions/roles.

[2015-05-27 10:43] purplefox commented on #16
Paulo - can you clarify whether we are getting rid of hasPermission()/hasRole() or not?

[2015-05-27 12:24] pmlopes commented on #16
I've been updating the documentation to make all things clear:

* roles are named collections of permissions
* permissions are opaque strings
* wildcard support is a implementation detail and invisible to the API

Now in regards to the API we do have I haven't changed yet. I am doing the refactor, but i opened the PR too early.

So the plan is:

Now that the documentation is clear i will refactor:

[2015-05-27 12:29] purplefox commented on #16
The bit I don't quite understand is why are we keeping hasRole?

It's my understanding that with the new isPermitted there is no requirement for a role/permission based model any more, and having hasRole seems to mandate that model...

[2015-05-27 12:42] stephane-bastian commented on #16
Guys, here are my 2 cents:

If you want to get to the barebone API for Auth but keep your options open to add more stuff later-on (post 3.0) based on user's requirements, I would suggest to only keep isPermitted(String) and get rid of hasRole().
I would even go one step further and IMO for 3.0 you don't even need the plural form isPermitted(Set<String>).
When checking multiple permissions, some us

[2015-05-27 12:44] pmlopes commented on #16
the hasRole is indeed accessory method, my concern to keep it for now was to keep the Shiro API working on its full extent. However it will just cause noise for providers that do not support that model.

One can indeed live without it e.g.:

* JWT using the concept of claims is modeled with isPermitted
* DB can be anything, however the simplest schema can be modeled with isPermitted
* OAuth2 has t

[2015-05-27 12:53] stephane-bastian commented on #16
Paulo: Great, with one method, the Auth API is KISS ;)
Side question just to make sure that I understand things correctly regarding Shiro.
Shiro used to be the only underlying lib to do Auth (LDAP, JDBC). Now JDBC is non blocking and not using Shiro. The only provider leveraging Shiro is the LDAP provider right?
Some time down the line, someone will surely refactor the LDAP provider and make it no

[2015-05-27 12:54] purplefox commented on #16
The Shiro impl contains a simple properties provider which is useful for small self contained apps.

Also you can plug in any other Shiro Realm that you have.

[2015-05-27 12:59] purplefox commented on #16
The main purpose of the ShiroAuthProvider is so users can reuse their existing Shiro realm implementations.

[2015-05-27 13:01] stephane-bastian commented on #16
Got it. Thx

[2015-06-01 06:32] #16 closed

[2015-06-09 16:06] panjiesw opened #19 "Suppress error stack of JWT trying to load unsupported MAC"
Hi,

Currently, as `JWT` class is trying to load MAC algorithm of configured keystore file, it logs NullPointerException if an algorithm isn't supported, as shown in [this](https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jwt/src/main/java/io/vertx/ext/auth/jwt/impl/JWT.java#L55) line. This makes the application logs to be polluted with rather meaningless error stack trace like so

[co

[2015-06-10 09:42] pmlopes commented on #19
In #20 the fix will not throw a NPE, instead it will log as a lower level INFO that the algorithm is  not present in the store. The choosen level is INFO due to the fact that JWT claims that all algorithms are optional.

[2015-06-15 06:09] gemmell opened #21 "fromRealm returns null"
As per my exploration of using vertx with shiro and stormpath here https://groups.google.com/forum/?fromgroups=#!topic/vertx/rO8xlDof1qA

I have encountered a defect.

If in my code I do this:

      router.route().handler((RoutingContext context) -> {
            context.user().isAuthorised("role:84c2a410-b761-44cd-88c7-a8bba0e976cb+admins", (AsyncResult<Boolean> res) -> {
               if (res.

[2015-06-15 06:33] gemmell commented on #21
Hrrm. Looks to me like it's expecting a shiro `SimplePrincipalCollection`. The stormpath `ApplicationRealm.java` has the following function:

    protected PrincipalCollection createPrincipals(Account account) {

        LinkedHashMap<String, String> props = new LinkedHashMap<String, String>();

        props.put("href", account.getHref());
        nullSafePut(props, "username", account.getUsernam

[2015-06-15 07:45] alober2 opened #22 "Groovy can not find method ShiroAuth.create(vertx, realm)"
At the last of the documents (http://vert-x3.github.io/docs/vertx-auth-shiro/groovy/), I see I can use other Realm
class MyRealm extends AuthorizingRealm {
// other codes.
}
import io.vertx.groovy.ext.auth.shiro.ShiroAuth;
def realm = new MyRealm();
def provider = ShiroAuth.create(vertx, realm);

But When I create an Realm, I see there is no method ShiroAuth.create(vertx, realm);
groovy.lang.Missi

[2015-06-15 10:33] #19 closed

[2015-06-15 10:37] pmlopes commented on #21
Which auth provider are you using? Stormpath does not seem to be a auth provider implemented in this project, can you provide a full test case?

[2015-06-15 11:24] gemmell commented on #21
Yep. I posted how to do set it up in the linked google group. Will gather the info and post here.

[2015-06-15 11:26] gemmell commented on #21
I am using gradle, so I needed to add the following dependencies:

    dependencies {
    ...
       /* For auth */
        compile 'io.vertx:vertx-auth-shiro:3.0.0-milestone6'
        compile 'com.stormpath.shiro:stormpath-shiro-core:0.6.0'
        compile 'com.stormpath.sdk:stormpath-sdk-httpclient:1.0.RC4.3'
    ...
    }

And then in your code it's as simple as this:

    // Setup our shiro+st

[2015-06-15 11:27] gemmell commented on #21
You will have to sign up for stormpath but it is free and obligation free.

[2015-06-15 11:32] gemmell commented on #21
To ease your pain, just use this temporary information:
apiKey.properties simple contains:
    apiKey.id = 2SCNWP6RUOU9POBRSTWKG1AY4
    apiKey.secret = DxxmPSCOKOXPPgvtVBfwp4M5uZl9keF9lv/8rpzMFCg

and the "<insert your application endpoint here>" is this
    https://api.stormpath.com/v1/accounts/5W1RoooMzoo0XqKMx15IEi

Let me know when you're done and I'll remove the key. It is a dummy setup used

[2015-06-15 11:33] gemmell commented on #21
Oh and to make it actually crash you try to do some authorisation:

    router.route().handler((RoutingContext context) -> {
        context.user().isAuthorised("role:84c2a410-b761-44cd-88c7-a8bba0e976cb+admins", (AsyncResult<Boolean> res) -> {
           if (res.succeeded()) {
              boolean hasPermission = res.result();
              if (hasPermission) {
                 context.next();

[2015-06-15 11:35] gemmell commented on #21
This resource may be of use:
https://github.com/stormpath/stormpath-shiro/wiki

[2015-06-15 12:15] #21 closed

[2015-06-15 12:18] gemmell commented on #21
Awesome. Should I wait for M7 or is that a fair way off?

[2015-06-15 12:26] pmlopes commented on #21
The plan is to have the final 3.0 release soon, either you can test by fetching the snapshots from sonatype or wait a bit more :)

[2015-06-15 12:53] gemmell commented on #21
Excuse my extreme ignorance - where are these snapshots?

[2015-06-15 23:28] gemmell commented on #21
For the naive (like me) - add the following to your gradle.conf

    repositories {
        mavenCentral()
        maven {
          url 'http://oss.sonatype.org/content/repositories/snapshots'
        }
    }

And use the following dependency:

    compile 'io.vertx:vertx-auth-shiro:3.0.0-SNAPSHOT'

[2015-06-15 23:53] gemmell opened #23 "Stormpath and vertx realm name disagree"
This is the next issue related to #21, see that ticket for the setup.

    protected String getAccountHref(PrincipalCollection principals) {
           Collection c = principals.fromRealm(getName());
           //Based on the createPrincipals implementation above, the first one is the Account href:
           return (String) c.iterator().next();
     }

The `getName()` returns `com.stormpath.shiro

[2015-06-15 23:55] gemmell commented on #23
You can try to login with testname@test.com and pw 890fup*()

[2015-06-16 04:22] alanma opened #24 "please share samples using the vertx-auth"
It would be great to add examples to use different auth module in the project. Or please share examples in documentation if possible.

Thanks.

[2015-06-16 06:46] pmlopes commented on #24
Actually there are already a couple of examples, see here:

https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/auth

https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/authjdbc

https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/jwt

[2015-06-16 07:19] pmlopes commented on #23
I am trying to reproduce the issue with a unit test but i cannot login, could you provide some working credentials or check the commit above

[2015-06-16 10:37] #24 closed

[2015-06-16 11:19] pmlopes commented on #22
This is a code gen issue ` type org.apache.shiro.realm.Realm is not legal for use for a parameter in code generation` If you need more low level access you should use the Java API

[2015-06-16 12:25] gemmell commented on #23
Hi Paulo if you want to keep it as a test case I suggest you create your own account at stormpath. I will be removing that key since it's my account which I may use for other things. It's really easy and free to sign up to stormpath.

You sign up
You create a user and give them a group
You create an API key
Done.

Hrrm. I will just do it all for you and make you an admin.

[2015-06-16 12:31] gemmell commented on #23
Need your email addy.

[2015-06-16 13:34] pmlopes commented on #23
The latest commit already have a account created by me, and it is fully functional see commit: https://github.com/vert-x3/vertx-auth/commit/8d8e7e32f536ec03a2957b94ed2bf19f15907345

It is just waiting for review and approval for merge into master.

[2015-06-18 09:10] #23 closed

[2015-06-18 09:24] #22 closed

[2015-07-30 22:24] apatrida opened #26 "Creating a new JWT token and adding user to session results in exceptions deserializing the JWT user object later"
When clustered using Hazelcast, create JWT Token, validate it by calling provider.authenticate() then routingContext.setUser() so it is available immediately.  Next requests that come in all fail with:

[code]

That last "caused by" seems to say that something wants it to have a default constructor and it does not?

[2015-08-01 14:45] jaysonminard commented on #26
@pmlopes @purplefox this is BLOCKING for use of JWT in a clustered environment and only a 1-line fix for a default constructor (but please check all vert-x modules that might have objects that go into cluster store and be sure they work with hazelcast clustering)

[2015-08-03 08:34] pmlopes commented on #26
I see that the default constructor can cause issues, but i don't understand why would you want to save the JWT user on the session? The whole point of using JWT is that you don't need sessions, JWTUser objects are not supposed to be serialized since the data can always be reconstructed from the token itself and there are never issues with synchronization or cache.

However i made a PR to avoid cra

[2015-08-03 08:34] #26 closed

[2015-08-03 12:17] apatrida commented on #26
@pmlopes well, let's say that maybe the person that wants this was @pmlopes, because it is your code that does just that.  You wrote code at this line https://github.com/vert-x3/vertx-web/blob/c9d2a05e708d167b6f8dcc65ac3baf26899fba48/src/main/java/io/vertx/ext/web/handler/impl/JWTAuthHandlerImpl.java#L123 that stores the user into the context, which basically causes it to be serialized into Hazelc

[2015-08-03 12:20] apatrida commented on #26
And yes, we use JWT and a few other auth types at the same time on sometimes the same routes, so its quite fun.  And the JWT is in the session for web based calls, and some REST calls coming from web based clients, but for pure REST API calls is only the JWT.  Real world, odd stuff happens, but you can see above that `context.suerUser(...)` allows it to happen (we do the same in our code, because

[2015-08-10 07:50] purplefox commented on #26
I don't really understand this. As Paulo says JWT is meant to avoid sessions, so I can't understand the use case for storing it in a clustered session.

[2015-09-03 23:40] skomorokh opened #29 ""vertx-auth-shiro-js/shiro_auth" will crash if you included "vertx-web-js/router" before it and authenticate successfully"
For some reason the order of inclusion of Vert.x JS components matters: putting the router before shiro auth causes this error on the 3.0.0 release upon successful authentication:

[code]
That was from `vertx run shirotest.js` with the following code and a shirotest.properties file containing `user.correct = pw`. It works fine if you reverse the order and include shiro_auth before router or if you

[2015-09-10 13:39] pmlopes commented on #29
The issue seems to be a loop while loading the js modules. When this happens an incomplete object is loaded, however if you load the shiro impl first, then the order if fixed because the incomplete import is not used in the code and the further references get the final object.

[2015-09-16 12:56] johnoliver opened #32 "Exceptions thrown due to lack of SecurityManager"
The following exception is thrown when logging in to the example app at https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/auth/Server.java

Currently the exception is swallowed as the DefaultSubjectContext that should log the error receives a NOPLogger, not sure why, may be due to Shiro using slf4j and the app being configured for JUL. Certainly

[2015-09-19 22:04] mavencode01 opened #33 "vertx-auth-jwt not working"
I'm trying to integrate jwt token in my vertx but can't generate a token.

I got the exception below:

[code]

But I can see these logs on my console,
[code]

How can I resolve this and generate jwt tokens

Btw, I generated my keystore and added it to my classpath

[code]

[2015-09-20 01:42] mavencode01 commented on #33
This helps me
http://vertx.io/docs/vertx-auth-jwt/js/

[2015-09-20 01:42] #33 closed

[2015-09-22 16:16] apatrida commented on #26
@purplefox When you set the user into the context, internally that puts it into the session.  It isn't our choice, it is how Vert.x is currently working using the JWTAuthHandlerImpl.   And then it blows up if clustered.  Therefore using JWT with Hazelcast clustering does NOT work currently.

So it is the relationship between `routingContext.user()` and `routingContext.setUser(newJwt)` that isn't w

[2015-09-22 16:17] apatrida commented on #26
And can we get a small release to fix this object, I'm stuck without clustering because of this one silly thing.

[2015-09-22 16:22] apatrida commented on #26
from: https://github.com/vert-x3/vertx-web/blob/c9d2a05e708d167b6f8dcc65ac3baf26899fba48/src/main/java/io/vertx/ext/web/handler/impl/JWTAuthHandlerImpl.java#L123

[code]

so what do we do?  avoid clustering until 3.1.0?  custom builds?  Just need a 3.0.0.1 for whatever lib has the Jwt class that was updated to have a default constructor.

[2015-09-22 16:27] apatrida commented on #26
The logging message:

[code]

in the commit above will confuse people who see it when vertx3-web `JWTAuthHandlerImpl` causes this to happen without them knowing it.  They'll have thousands of these log entries for something they didn't do.  @pmlopes

[2015-09-22 16:45] apatrida commented on #26
anyway, I copied the code into my own tree with updated fixes, works fine.  I must be the only clustered session w/JWT enabled user for vertx3.

[2015-09-23 10:55] pmlopes opened #34 "Signature validation for Eliptic Curve is not working"
token eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJzdWIiOiJwYXVsbyIsImlhdCI6MTQ0Mjk5ODIxNX0=.MEQCICUVOYsAvKSng-4SDaZBdcYTKLHtxZqHcl4wqvZcdseoAiBj7kGiOhyYES1wdpg0FashauDgue86oWmyQVYc7t7NEQ==
java.lang.RuntimeException: java.security.SignatureException: object not initialized for verification
 at io.vertx.ext.auth.jwt.impl.CryptoSignature.verify(Crypto.java:85)
 at io.vertx.ext.auth.jwt.impl.JWT.decode(J

[2015-09-24 11:10] pmlopes commented on #34
@vietj @purplefox @cescoffier please review.

This PR fixes the current exception above.

[2015-09-28 06:57] cescoffier commented on #34
+1

[2015-09-28 09:12] #34 closed

[2015-10-02 08:17] vietj opened #36 "Auth options"
at the moment in Vert.x Shell we create auth from options, it would be good to have them in this project for 3.2 instead, see : https://github.com/vert-x3/vertx-shell/tree/master/src/main/java/io/vertx/ext/shell/auth

[2015-10-14 13:56] pmlopes commented on #36
:+1: want me to move the code there?

[2015-10-14 14:17] vietj commented on #36
yes.

also it should be completed with extra options AuthOptions subclasses for auth mechanisms other than Shiro. If you can't then just create another github issue for it.

[2015-10-26 10:09] pmlopes opened #39 "simple oauth2 server side support"
For 3.2 we would like to have some simple oauth2 support, the MVP is to support authentication using a third party such as Github/Facebook/Google

[2015-10-26 10:48] millross commented on #39
Started on this here: https://github.com/millross/vertx-web-oauth2 (non-blocking) - feel free to take it over

I'm also working on vertx-pac4j which should be released pretty soon, but that has blocking calls (wrapped in executeBlocking) so isn't non-blocking end to end (because underlying pac4j libs contain blocking calls).

[2015-10-28 10:26] #36 closed

[2015-11-16 14:43] vietj opened #41 "Fix data object broken compliance"

[2015-11-16 14:48] #41 closed

[2015-11-17 23:08] lascarayf opened #42 "Add an option to specify the signing algorithm"
Actually the signing algorithm is the same as the certificate, but in some cases you must use another.

[code]

In the "Google Cloud Plataform" we need to sign the JWT with **SHA256withRSA** using the private key of PKCS#12 certificate. The certificate is generated by Google and the sign algorithm of certificate is **SHA1withRSA** :(

https://developers.google.com/identity/protocols/OAuth2ServiceA

[2015-11-18 07:47] pmlopes commented on #42
I'm not sure if i understand, if you import the certificate google creates for you and name it RS256 when you need to generate tokens you can always do:

[code]

But you're saying that the cerficate Google issues is not SHA256+RSA but SHA1+RSA? Could you get me a test certificate so I can test it then?

[2015-11-18 08:48] pmlopes commented on #42
I've created a test certificate and it now gets signed with the desired algorithm. @lascarayf can you review it?

[2015-11-19 10:27] #42 closed

[2015-11-20 10:56] #39 closed

[2015-11-23 19:00] pmlopes commented on #29
Since this not really a auth issue but a loader issue that is known to javascript I'll close this as invalid and if needed it can reopened later on.

[2015-11-23 19:00] #29 closed

[2015-11-25 15:03] BorisBorshevsky opened #45 "mongoAuth.insertUser creates multiple users with he same name"
mongoAuth.insertUser creates multiple users with the same name causing authentication to fail.
i would expect that insertuser will validate that the same user does not exists.

[2015-11-25 15:21] pmlopes commented on #45
A quick workaround is to create a unique index:

[code]

[2015-11-25 15:31] BorisBorshevsky commented on #45
works perfectly! thanks.

[2015-11-25 15:44] pmlopes commented on #45
I'll add this info to the documentation since it is the only guaranteed way to have uniqueness in mongo. Mongo has no transactions, so doing first a query for existance and then insert could lead more than 1 entry being inserted with the same username.

[2015-12-01 12:13] #45 closed

[2015-12-09 06:48] before30 commented on #32
I got same exception when I using shiro as basic auth provider

[code]

[code]

[2015-12-13 05:14] alanma opened #48 "Similar LDAP Auth as in SpringBoot"
Hi @pmlopes @vietj  I looked into the shiro eample in vertx-auth but could not find equivalent to SpringBoot's LDAP auth:

https://spring.io/guides/gs/authenticating-ldap/

More specifically, how to use a bind DN (manager DN) to authenticate users - using group *search base* and *search filter*? Here is what we are doing with Spring:

[code]
Is this something supported by vetx-auth right now? or a

[2015-12-14 00:05] alanma commented on #48
Or maybe my problem caused by the not-implemented ActiveDirectoryRealm of Shiro in vertx-auth?

Thanks!

[2016-01-13 22:46] ckaminski opened #49 "JWT algorithm typo?"
java.lang.RuntimeException: Algorithm not supported
        at io.vertx.ext.auth.jwt.impl.JWT.sign(JWT.java:180)
        at io.vertx.ext.auth.jwt.impl.JWTAuthProviderImpl.generateToken(JWTAuthProviderImpl.java:145)
        at io.vertx.groovy.ext.auth.jwt.JWTAuth.generateToken(JWTAuth.groovy:55)
        at io.vertx.groovy.ext.auth.jwt.JWTAuth$generateToken$0.call(Unknown Source)

https://github.com

[2016-01-13 22:51] ckaminski commented on #49
Ok, appears to not be a typo, I have some other issue at work here.
Sorry for the confusion.

[2016-01-13 23:02] ckaminski commented on #49
Did not have a matching key algorithm in my keystore.  PEBKAC.  Sorry for the trouble.

[2016-01-13 23:02] #49 closed

[2016-01-20 12:40] pmlopes commented on #48
@alanma shiro ldap implementation currently works with a known given DN template, for example:

[code]

If you can translate your query above to this format then all you need is something like:

[code]

I'm no LDAP query expert so i cannot really assist you with this translation I'm afraid.

[2016-01-20 12:51] pmlopes commented on #32
I'm trying to reproduce this issue with 3.2.0 and by running the example above mentioned I don't get the exception. Is this issue still valid? can you still reproduce it? what are the steps?

[2016-01-20 12:53] cescoffier commented on #32
Be aware the shiro heavily relies on thread locals to store objects. I think to reproduce it, you would need to server the request from a thread not having the thread local set.

[2016-02-22 10:01] cescoffier opened #52 "Update parent and dependencies"
Update parent version and a couple of dependencies.

[2016-02-22 10:04] #52 closed

[2016-02-24 10:34] pmlopes opened #53 "implement keycloak provider"
see: https://github.com/vert-x3/wiki/wiki/KeyCloak-integration

[2016-02-27 14:07] lxitgto opened #54 "JWT Signature verification failed with multithread"
sometimes JWT.decode will throw the RuntimeException("Signature verification failed") when we use blockingHandler or generateToken/authenticate in different thread.

I think it's because CryptoMac use mac.doFinal to generate digests and it's not [thread-safe.](http://stackoverflow.com/questions/31898802/is-macdofinal-thread-safe-in-java)

[2016-02-28 10:12] davidafsilva commented on #54
Yeah, you cannot reuse instances of the same `Mac` instance without proper synchronization, since its internal state is changed during MAC computation and finally to reset back to the last `init()` known state (hence you can reuse the same instance with the same key without calling `init()`).

The above (with slightly different implementation related details) is also applicable to `Signature`, whi

[2016-02-29 07:56] #54 closed

[2016-03-01 19:14] pmlopes opened #56 "oauth2 should allow all config from httpclient"
* use case allow trust all ssl certificates for internal server

[2016-03-02 11:55] #56 closed

[2016-03-11 22:55] plombardi89 opened #59 "Feature: Do not require private key for JWT if not planning to sign tokens?"
Right now the JWT module requires a private key for asymetric keys in order to be used, however, if you're only interested in decoding and verifying a key then this is an unnecessary additional piece of security data that needs to be stored in the key store. The piece of code responsible for this is located here:

[code]

Can the requirement that a private key be present be lifted?

[2016-03-14 08:38] pmlopes commented on #59
Thanks, this is a good idea and it is already required for openid-connect (see #58) where only public keys are provided.

[2016-03-16 13:47] #53 closed

[2016-04-15 05:39] stevebingsoo opened #62 "OAuth2API can't handle plain text responses"
### Version

* vert.x core: 3.2.1
* vert.x auth: 3.2.1

### Context

I was trying to get an access token from facebook and noticed it returns text/plain which OAuth2API cannot handle.  The error thrown is:

Access Token Error: Cannot handle content type: text/plain

### Steps to reproduce

Try to use the configuration described here to get an access token from facebook:
http://vertx.io/docs/vertx-

[2016-05-01 18:01] paulbakker opened #64 "Keycloak handler fails on reload"
### Version

* vert.x core: master (May 1st)
* vert.x auth: master (May 1st)

### Context

I created a Keycloak handler as shown in this [video](http://vertx.io/blog/vertx-3-and-keycloak-tutorial/).

[code]
The request to `secure/test` gets redirected to the Keycloak login page as expected. After login I get redirected like `url http://localhost:8282/callback?redirect_uri=/secure/test&state=&code=

[2016-05-01 18:24] paulbakker commented on #64
It seems that every request that follows the original request that actually got redirect to the login page fails.

[2016-05-02 19:31] amoAHCP opened #65 "OAuth2AuthHandler callback allows unauthorized access"
### Version

* vert.x core: 3.2.1
* vert.x auth: 3.2.1

### Context

http://localhost:8080/callback?redirect_uri=/private/somepage/test leads to unauthorized acces while http://localhost:8080/private/somepage/test starts auth process correctly.

Output:
Welcome to the protected resource! :

{
  "error" : "bad_verification_code",
  "error_description" : "The code passed is incorrect or expired.",

[2016-05-03 14:11] pmlopes commented on #64
maybe related to #65

[2016-05-04 13:01] pmlopes commented on #65
This issue is not reproducible anymore on 3.3.0-SNAPSHOT which is going to be released next month.

[2016-05-04 13:01] #65 closed

[2016-05-04 13:17] pmlopes commented on #64
The redirect URL can only be used once, it is part of the OAuth2 handshake, it contains a code that needs to be sent back to the OAuth2 server to verify that you requested to be authenticated. If you reload this page, the OAuth2 server will deny you a new token since the code is not valid anymore so you will get a bad request.

What is missing here is that once you authenticate and land on the sec

[2016-05-04 13:32] #62 closed

[2016-05-04 17:55] paulbakker commented on #64
Makes sense. I do think it needs to be in the docs/tutorial though, it's not directly obvious that this isn't handled automatically.

[2016-05-19 19:04] #59 closed

[2016-05-23 10:15] pmlopes commented on #64
Fixed by: https://github.com/vert-x3/vertx-web/commit/cbfcb9713fed9cb6658aadedf210096c1db124ff

[2016-05-23 10:15] #64 closed

[2016-05-31 21:17] halber opened #66 "JWT authenticate security issue!"
### Version

all versions

* vert.x auth jwt:

### Context

In io.vertx.ext.auth.jwt.impl.JWT#decode you get the algorithm to use form the JWT header segment. But this let an attacker select the algorithm that is used to check the token. Just change the JWT header “alg” to “none” and you have a valid token!

### Do you have a reproducer?

add to io.vertx.ext.auth.test.jwt.JWTAuthProviderTest

[cod

[2016-05-31 21:56] halber commented on #66
I would suggest to add a mechanism to whitelisting or blacklisting algorithms.

[2016-06-01 08:28] pmlopes commented on #66
I've added the missing check. You can control the allowed algorithms but only adding the ones you want to the keystore. If you provide an empty keystore then none is allowed.

[2016-06-02 08:41] #66 closed

[2016-06-11 19:11] rtv2222 opened #68 "vertx mongo auth js is broken"
### Version

* vert.x core:3.2.1
* vert.x auth:3.2.1

### Context

The Javascript example for vertx mongo auth just does not work.

### Do you have a reproducer?

https://groups.google.com/forum/#!topic/vertx/AfjHVJy4wtk has already raised the issue. I am repeating it here to see if it helps.

### Steps to reproduce

Just follow the documentation to create a JS vertx mongo auth client. Call to aut

[2016-06-13 18:40] plombardi89 opened #69 "JWTAuth.create(...) skip parameter is a bit too eager when logic invoked in JWTAuthHandlerImpl"
### Version

* vert.x core: 3.2.1
* vert.x auth: 3.2.1

### Context

The skip parameter is too eager. The code checks for whether or not the skip string contains the request string:

[code]

If the skip String is configured such as '/health' and the `request.path()` == '/' then the skip execution always occurs which is probably not what was intended?

I'm not sure what the best behavior here is...

[2016-06-14 07:12] pochadri opened #70 "code error"
### Version

* vert.x core: 3.2.1
* vert.x auth: 3.2.1

### Context

This is the code in MongoAuthImpl

---
 String permissionField = config.getString(PROPERTY_PERMISSION_FIELD);
    if (roleField != null) {
      setPermissionField(permissionField);
    }
---

I think the if condition should be

 if (permissionField != null) {

[2016-06-15 11:00] #70 closed

[2016-06-15 11:04] pmlopes commented on #69
This issue was moved to vert-x3/vertx-web#394

[2016-06-15 11:04] #69 closed

[2016-06-16 07:39] ashertarno opened #71 "race condition while reading keystore file from vertx cache"
* vert.x auth: 3.3.1-RC2 and earlier

i copy description from [forum thread re this issue ] :(https://groups.google.com/forum/#!topic/vertx/Jqk6R2buSDY)

we have a verticle that creates vertx-web routes and then starts an http server. on some routes we add a JWTAuthHandler to provide jwt based security.
the keystore,jceks file used for that matter is in the classpath.
all worked fine while we had

[2016-06-16 08:46] #71 closed

[2016-06-16 11:38] pmlopes commented on #68
This issue was moved to vert-x3/vertx-lang-js#53

[2016-06-16 11:38] #68 closed

[2016-06-30 15:08] noandrea opened #72 "Shiro - remember me flag"
### Version

* vert.x core: 3.3.0
* vert.x auth: 3.3.0

### Context

I am using shiro for authentication, I have noticed that in ShiroAuthProviderImpl.java the properties "username" and "password" are used to create an UsernamePasswordToken object but not the remember me flag (that is supported by UsernamePasswordToken):

[code]

Do you think that modifying the code above in something like the fol

[2016-07-03 12:15] paulbakker opened #73 "KeyCloak jwt support"
**Scenario**: A JavaScript UI that uses the KeyCloak redirect flow, and a Vert.x REST backend. The UI authenticates with the redirect and gets a token from KeyCloak. The token is added to each request to the Vert.x backend.

The KeyCloak token is, according the KeyCloak docs, "an extension of JWT". The token is self contained, meaning that user info such as the user's roles are embedded in the tok

[2016-07-04 07:50] pmlopes commented on #73
The current JWT impl can handle the KeyCloak tokens if you use it like:

[code]

The main problem now is to tell the JWT where to look for the roles. In the default implementation if looks for a json object hash, while on KeyCloak the token has a top level set of hashes:

* realm_access
* resource_access

 and inside these then there are the roles.

Once way to "fix" could be where this is used:

[2016-07-06 08:02] aniketkulkarni2013 commented on #39
Is it possible to setup OAuth 2 Authorization server with vert.x 3.3.0 ?

[2016-07-06 08:18] millross commented on #39
Not as far as I know, assuming you mean a provider rather than a server which uses an external OAuth 2 provider for authentication.

[2016-07-06 12:04] dangxunb opened #74 "Shiro's BasicAuthentication doesn't detect deleted key-value on reload"
### Version
- vert.x core: 3.3.0
- vert.x auth: 3.3.0
### Context

I written some code to perform Basic Authentication with Vertx ShiroAuth.

[code]

Example properties file:

[code]

If I add new key-value to properties file, Shiro can detect and reload perfectly. But when I delete, shiro reload (the debug log said that) but nothing change (user can still login by using those deleted key-value).

[2016-07-11 01:09] dangxunb opened #75 "Vertx Shiro's BasicAuthentication fail when login with browser"
### Version
- vert.x core: 3.3.0
- vert.x auth: 3.3.0
### Context

I written some code to perform Basic Authentication with Vertx ShiroAuth.

[code]

Example properties file:

[code]

When user login with browser, vertx throw a null Throwable ([stacktrace](https://gist.github.com/dangxunb/1cb9a08730b9b7717fab6f31e9fd51b1)), hence we must add this stupid if block to handle it:

[code]

I feel that

[2016-07-13 21:46] eduardolundgren opened #76 "OAuth getToken result.failed() information is inconsistent when sending invalid code as payload"
### Version
- vert.x core: 3.3.0
- vert.x auth: 3.3.2
### Context

OAuth getToken never flags `result.failed()` as `true` for invalid code sent. I am testing this with GitHub provider. Note in the debugger image that the `result.failed()` is always `false` and docs (http://vertx.io/docs/vertx-auth-oauth2/java/) says it should be `true` on error.

[code]
### Do you have a reproducer?

<img width="4

[2016-07-14 08:18] pmlopes commented on #76
The token is not inspected for the error handling, just the http data flow. OAuth2 tokens are opaque strings. We can try to improve the usability by looking up the fields:

* error
* error_description
* error_code

And take that also in account when dealing with the success/failure state.

[2016-07-15 12:24] pmlopes opened #77 "OAuth2 final redirect should be a HTTP redirect"
Currently the final redirect is handled internally, however this can cause problems if a user refreshes the html page since a new token request is done and invalidates the token.

Doing a HTTP redirect (would enforce users use a session handler) so state is preserved and no issues would happen due to refresh page.

[2016-08-17 20:40] paulbakker commented on #73
Took a while to get back to this issue (holidays), but I just created a PR.

[2016-08-25 01:30] atsusugi opened #81 "OAuth getToken don't response when java.net.UnknownHostException is thrown"
### Version

* vert.x core:3.3.2
* vert.x auth:3.3.2

### Context

OAuth getToken can't set exceptionHandler to HttpClientRequest and don't call callback method when exception is thrown in HttpClientRequest.
When java.net.UnknownHostException was thrown (Google's OAuth API Server downed), my app couldn't response anything to browser.

[2016-08-25 09:11] tsegismont commented on #81
Could you provide a simple reproducer? Thanks

[2016-08-25 11:58] atsusugi commented on #81
could you execute blow steps?

1. turn off WiFi, (no internet access is important!)
2. run below code and access to "http://localhost:8080/callback" in browser.

browser will wait the response for a while.

[code]

[2016-08-26 16:55] tsegismont commented on #81
In this part:

[code]

You should check if the call succeded or failed.

[code]

[2016-08-27 09:21] atsusugi commented on #81
[code]
in your environment, is this block called?
in my environment, it is never called,

so, is your below code meaningless?
because check logic will not be called, when UnknownHostException is thrown.
[code]

[2016-08-29 08:36] tsegismont commented on #81
To be honest I had not tried, I just saw that the async result status was
not checked, so my first assumption was that the problem lied there. With
your latest findings, I believe now that the exception is not managed and
correctly in the oauth2 impl, and the handler never called. Will check.

2016-08-27 11:21 GMT+02:00 atsusugi <notifications@github.com>:

[2016-08-29 09:29] tsegismont commented on #81
@atsusugi sent PR

[2016-08-29 13:55] #81 closed

[2016-08-30 06:47] atsusugi commented on #81
thank you!

[2016-09-02 12:16] greggigon opened #85 "Control of configuration for the underlying HttpClient"
Hi
On line
https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2API.java#L114

`client = provider.getVertx().createHttpClient(new HttpClientOptions()
          .setSsl(isSecure)
          .setDefaultHost(host)
          .setDefaultPort(port));`

new client is created for the request. It would be nice to be able to control the client

[2016-09-02 12:34] pmlopes commented on #85
OAuth2ClientOptions extends HttpClientOptions, i guess that we missed that line and instead of using a new HttpClientOptions we should have used the global options

[2016-09-02 13:16] greggigon commented on #85
I guess the fix would go out in the next release?
What would you recommend as a workaround for now? HttpClient seems to ignore my truststore set via system properties:

`java -Djavax.net.ssl.turustStore=./tmpkeystore -Djavax.net.ssl.trustStorePassword=changeit App`

[2016-09-12 07:25] paulbakker commented on #73
I guess this issue can be closed now after the merge?

[2016-09-14 14:02] white-collar commented on #33
@mavencode01 , pls, can you explain me how it helped you ? I have the same problem in jwt-auth example.

[2016-09-14 14:16] #85 closed

[2016-09-14 14:23] #73 closed

[2016-09-14 14:26] pmlopes commented on #33
I think the issue was that the key alias used was wrong it needs to match the aliases from JWT spec so the commands to generate the keys are:

[code]

[2016-09-14 14:46] white-collar commented on #33
Thank you, @pmlopes it works,

[2016-09-14 15:07] white-collar commented on #33
@pmlopes pls, can you explain more details:

I have this example https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/jwt

I have recieved token, it's OK

Next step then I want to perform is to get protected resource. I have such browser request:

[code]

by this code:

[code]

But in back I'm getting 401-error as I'm not verified.

In server I have

[2016-09-14 15:21] white-collar commented on #33
@pmlopes Sorry, I have founв solution. Last string while key generation was failed. Now all works good. Thanks.

[2016-09-16 08:30] pmlopes commented on #75
@dangxunb can you provide a full reproducer? I've tried to use your code in a test and i cannot seem to get the null pointer exception, could it be that it comes from the line:

[code]

[2016-09-16 08:38] pmlopes commented on #74
are you using sessions? if you do you must invalidate the session too otherwise it will be assumed that the user is still valid until the session expires. Also note that internally we don't keep any info on the users so it is all delegated to shiro. If the problem is not session related could you provide a full reproducer since just with the config we're not able to reproduce your bug.

[2016-09-16 08:48] pmlopes commented on #72
shiro is an implementation of vertx-auth in order to get the "remember me" feature to work you should use the session handler in your web application instead. It should be something like:

[code]

[2016-09-16 08:48] #72 closed

[2016-09-16 08:54] pmlopes commented on #48
I'll close this issue since there is no activity and the answer does explain how to use custom queries, even though not as powerful as described in the issue. This is however a Shiro detail and not really vert.x related.

[2016-09-16 08:54] #48 closed

[2016-09-26 21:42] DieterDePaepe opened #87 "MongoAuth assumes username"
### Version
- vert.x core: 3.3.3
- vert.x auth: 3.3.3
### Context

I noticed the MongoAuth is assuming that users are identified using a username. This applies to both the API (eg from `MongoAuthImpl`: `public void insertUser(String username, String password,...)`), as well as any error messages: (eg: `resultHandler.handle((Future.failedFuture("Username must be set for authentication.")));`).

I w

[2016-09-29 11:45] pmlopes commented on #87
`username` is just the name of the property you can store email addressed there.

[2016-09-29 11:48] pmlopes commented on #77
This issue was moved to vert-x3/vertx-web#457

[2016-09-29 11:48] #77 closed

[2016-09-29 12:04] DieterDePaepe commented on #87
I know it works like that. But getting an error "Username must be set..." will lead to confusion for people not familiar with that detail. Using a neutral name in variables and errors looks like an easy improvement.

[2016-09-29 12:08] pmlopes commented on #87
Ok, so the issue is the error message then.

[2016-09-29 12:13] DieterDePaepe commented on #87
3 things actually:
- error messages (changing is backwards compatible)
- parameter names, as these should also show the intent (backwards compatible)
- the constants in MongoAuth, such as `PROPERTY_USERNAME_FIELD` (not backwards compatible, but current ones could be deprecated till next major revision)

[2016-10-03 10:22] pmlopes opened #88 "Allow using Google JWT directly (by implementing server-to-server communication)"
Google allows applications to communicate securely using just JWTs over its OAuth2 interface. This is also known as server to server communication and avoids the OAuth2 redirect flow.

We could already do this with the current JWT module but we could add an helper to simplify its usage.

This mode of communication is very useful for consuming APIs from google for example consuming good drive files

[2016-10-04 18:52] DanielJoyce opened #89 "Remove support of "none" for encryption, or put behind a switch"
In general this is considered a fault of the spec.

An opinionated stance should be taken on this issue. Its frankly dumb this option made it into the spec.

[2016-10-05 06:59] pmlopes commented on #89
`none` is only allowed IFF there is no key provided:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jwt/src/main/java/io/vertx/ext/auth/jwt/impl/JWT.java#L175

[2016-10-06 21:37] plombardi89 opened #92 "generateToken with a none algorithm fails to generate a third segment"
### Version
- vert.x core: 3.3.3
- vert.x auth: 3.3.3
### Context

Generate a token as such:

[code]

The output token is:

eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0=.eyJzdWIiOiJVc2VyVW5kZXJUZXN0IiwiYXVkIjpbIk9yZ2FuaXphdGlvblVuZGVyVGVzdCJdLCJleHAiOjE3NDcwNTUzMTMsImlhdCI6MTQzMTY5NTMxMywicGVybWlzc2lvbnMiOlsicmVhZCIsIndyaXRlIiwiZXhlY3V0ZSJdLCJyb2xlcyI6WyJhZG1pbiIsImRldmVsb3BlciIsInVzZXIiXX0=.
### Do you ha

[2016-10-25 10:10] tsegismont opened #94 "JWTAuthProviderTest.testGenerateNewToken fails repeatedly"
https://vertx.ci.cloudbees.com/job/vert.x3-auth/1347/

More details in https://vertx.ci.cloudbees.com/job/vert.x3-auth/1368/testReport/io.vertx.ext.auth.test.jwt/JWTAuthProviderTest/testGenerateNewToken/

[2016-10-26 13:53] pmlopes commented on #88
Reference: https://developers.google.com/identity/protocols/OAuth2ServiceAccount
Mentor: Paulo Lopes

[2016-11-01 11:17] pmlopes commented on #94
Fixed in fd2cb1b758c1e6e270daa7fe37d362108da86c83

[2016-11-01 11:17] #94 closed

[2016-11-01 11:47] #89 closed

[2016-11-02 11:05] greggigon opened #96 "Decoding UNSECURE token fails, as none of the algorithms match JWT Header"
### Version

* vert.x core: 3.3.3
* vert.x auth: 3.3.3

### Context

Decoding token with JWT created with no Keystore fails. This is because unsecured is set to true and cryptoMap is empty.

I'm not sure if it is a bug or a concision design decisions.

Not validating a signature in production is another problem in itself, I do realize that, however, I'm using JWT class directly as I have a very sp

[2016-11-02 11:31] pmlopes commented on #96
JWT without keystore is a encoder/decoder only for unsafe tokens e.g.: `alg: "none"`

If you use other algorithm then we cannot validate since no keys have been loaded and that is not the definition of unsafe token.

[2016-11-02 11:41] greggigon commented on #96
OK, I see. Thanks.

[2016-11-02 11:41] #96 closed

[2016-11-08 19:33] DanielJoyce opened #100 "Looks like vertx-auth might also be vulnerable to this attack"
### Version

* vert.x core: 3.3.2
* vert.x auth: 3.3.2

### Context

https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

Looks like JWT.java purely relies on what is in the token to specify the alogirithm. This could allow the attacker to attack a vertx server using asym algorithms by signing a token with the known public key, but setting the algorithm to HS256. Vertx wou

[2016-11-08 20:40] pmlopes commented on #100
The algorithms the jwt support are provided on the key store. If no signatures are present no symmetric algorithms are used.

[2016-11-08 21:09] DanielJoyce commented on #100
The problem is assymetric algorithms. Symmetric are resistant to this
attack.

On Tue, Nov 8, 2016, 13:02 Paulo Lopes <notifications@github.com> wrote:

--
Daniel Joyce

The meek shall inherit the Earth, for the brave will be among the stars.

[2016-11-09 07:21] pmlopes commented on #100
This does not apply (unless you prove me wrong with a reproducer). If you configure JWT with a keystore with the algorithm `RS256` and given the public certificate of the algorithm you forge a new token with a algorithm `HS256` and a valid signature using the public key for the `RS256` key in the keystore, this module will not accept that token as valid because the `HS256` is not registered in the

[2016-11-10 10:03] #76 closed

[2016-11-10 12:44] #92 closed

[2016-11-13 10:17] DieterDePaepe opened #102 "MongoAuth: allow storing additional fields when creating users"
### Version

* vert.x core: 3.3.3
* vert.x auth: 3.3.3

### Context

MongoAuth provides a method to add a new User:

    void insertUser(String username, String password, List<String> roles, List<String> permissions,
      Handler<AsyncResult<String>> resultHandler);

This approach does not provide any way to supply additional fields to the entry being saved. I suggest changing this method to add

[2016-11-17 21:12] nevenr opened #103 "OAuth2Auth authentication provider, proxy support"
### Version

* vert.x core: 3.3.3
* vert.x auth: 3.3.3

### Context

If app need proxy to reach oauth2 authorization site "Internal Server Error" is thrown:

[code]

in step while browser trying to get oauth callback  http://localhost:8080/callback?code=xyz123&redirect_uri=%2Fprotected%2Fsomepage&state=

### Reproducer
[code]

Possible cause is that in https://github.com/vert-x3/vertx-auth/blob/3.

[2016-11-18 08:08] pmlopes commented on #103
This issue has been addressed on master:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2API.java#L114

[2016-11-18 08:08] #103 closed

[2016-11-18 15:18] eduardolundgren commented on #76
/cc @laissandrade

[2016-11-18 15:18] eduardolundgren commented on #76
Thanks @pmlopes

[2016-11-22 14:52] #100 closed

[2016-11-22 14:54] pmlopes opened #105 "add a simple htpasswd provider"
Having a simple htpasswd provider would allow users to use a common file format instead of the custom properties file that will require the usage of apache shiro and blocking API.

This is not a full replacement for properties files since htpasswd only cover AuthN not AuthZ

[2016-11-29 15:37] kerko opened #107 "JWTUser can't be serialized without permissions set"
### Version

* vert.x core: 3.4.0-SNAPSHOT
* vert.x auth: 3.4.0-SNAPSHOT

### Context

JWTUser's `writeToBuffer(Buffer buff)` assumes that permissions is not null, but the cunstructor loads  permissions as `null` if the key is not present in the jwt. This leads to a NPE when trying to call `writeToBuffer(Buffer buff)`.
I know that JWTUsers are not meant to be serialized, but since the methods are

[2016-11-30 15:37] borov333 commented on #19
Is there a way to completely turn off the output, even at the INFO level? I think developer shall have full control what messages are printed.

[2016-11-30 16:05] pmlopes commented on #19
It's a logger so you can always define the allowed output level.

[2016-12-02 02:28] stefanvitz commented on #102
+1

[2016-12-02 08:46] #88 closed

[2016-12-02 10:13] #107 closed

[2016-12-10 16:46] mavencode01 opened #108 "Keycloak logout fails"
### Version
* vert.x auth: 3.4.0-SNAPSHOT

### Context

I encountered an exception while trying to add logout to my service using Keycloak provider. Any idea why ?

       ...
       oauth2 = KeycloakAuth.create(vertx, OAuth2FlowType.AUTH_CODE, config());
       ...

       private void logoutHandler(RoutingContext context) {

            JsonObject principal = context.user().principal();

[2016-12-12 10:07] pmlopes commented on #108
You're requesting a token with an invalid state. The user object is the the access token you got from keycloak after login.

What you should do instead is:

[code]

[2016-12-12 16:33] mavencode01 commented on #108
Fantastic! it works now.

Thanks

[2016-12-12 16:33] #108 closed

[2016-12-15 12:19] pmlopes opened #109 "Add Oaut2 access_token validation to the existing providers."
@javadevmtl commented on [Tue Oct 18 2016](https://github.com/vert-x3/issues/issues/208)

Based on the conversation with Paulo: https://groups.google.com/forum/#!topic/vertx/tGgpL4bpdqo

Currently the OAuth2 providers only issue access_tokens, they do not validate access tokens. So according to Paulo an improvement can be made to make this possible.

Took a bit of google/hunting down, but to valid

[2016-12-16 12:16] stefanvitz commented on #102
What is the the status here?
When the team sees the value added on this one perhaps we could prepare an pull request.
the alternative is to work around in my code to insert a user via MongoAuth and then manually update the user with the needed data... (as any other user would have to do),,,

[2016-12-16 14:46] pmlopes commented on #102
I'd say that if you're passing a json object template the template itself should already contain the username and password:

[code]

WDYT?

[2016-12-16 14:46] pmlopes commented on #102
@stefanvitz feel free to discuss and make PRs

[2016-12-17 10:51] DieterDePaepe commented on #102
@pmlopes I'd disagree for 2 reasons.

1) username and password are 2 things that MongoAuth tracks as special fields (MongoAuth knows which key they are stored under). So why merge username and password with the template, but leave out permissions and roles? Also, this would require the caller to also know the keys under which username and password are stored.

2) the password shouldn't be stored i

[2016-12-18 12:16] pmlopes commented on #102
The existing method should remain otherwise we break backwards compatibility. If you are willing so, please do a PR and document the flow as you described in the pseudo-code here since it is quite important to clarify what happens when the existing object already contains either username/password/permissions.

Now I think we should only throw error if the generated fields exists and are different

[2016-12-18 13:49] DieterDePaepe commented on #102
Doing it that way is a bit more complicated, but it's reasonable. So, okay by me.

[2016-12-20 13:24] #109 closed

[2016-12-27 16:24] iLavryk commented on #33
Also if you chose algorithm which is not HS256 you should specify it directly during build JWTOptions object:
new JWTOptions()
                .setAlgorithm("HS512")
                .....

[2016-12-30 02:59] cinterloper commented on #32
i have a project that experiences this at the moment, is there any additional instrumentation that could produce more information about why this is happening?

[2017-01-11 09:02] zmyer opened #112 "Use Oauth2FlowType.CLIENT is failed"
### Version

* vert.x core:3.3.3
* vert.x auth:3.3.3

### Context

In accordance with the examples you provide，I use OAuth2FlowType.CLIENT to get access_token in github， but it failed（"error":"bad_verification_code","error_description":"The code passed is incorrect or expired."），before starting, I have applied for Oauth Application in github. Client ID and Client Secret are right
Can you gvie me s

[2017-01-11 09:21] pmlopes commented on #112
I'm not sure if CLIENT is accepted by Github but AUTH_CODE should be. Make sure you use the right config:

[code]

For 3.4 this will be simpler with:

[code]

[2017-01-11 09:32] zmyer commented on #112
@pmlopes , Would you give me a complete example that use AUTH_CODE, and how can you do to get authorization code and access token. In your case, there is no mention of how to get the user's authorization code，thanks

[2017-01-18 10:00] pmlopes commented on #112
Please read the docs:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/asciidoc/java/index.adoc

And for a simpler approach use vertx-web:

https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/asciidoc/java/index.adoc#oauth2authhandler-handler

[2017-01-18 10:00] #112 closed

[2017-01-23 13:55] tsegismont opened #114 "Add auth-jdbc default schema to the docs"
The docs have a paragraph about the expected schema
http://vertx.io/docs/vertx-auth-jdbc/java/#_jdbc_auth_provider_implementation

But it would be nice to have a sample SQL in addition to this.

[2017-01-23 14:15] tsegismont opened #115 "Document user creation with auth-jdbc"
In Java you can create a secure salt with SecureRandom and then use `io.vertx.ext.auth.jdbc.impl.JDBCAuthImpl#bytesToHex` and `io.vertx.ext.auth.jdbc.impl.JDBCAuthImpl#computeHash` to prepare values for storing a new user.

We should document that.

The problem is that SecureRandom is probably not a code-trans friendly class.

[2017-01-25 14:18] #114 closed

[2017-01-31 16:49] #115 closed

[2017-02-02 14:35] cescoffier commented on #77
Marked it as invalid because it has been moved.

[2017-03-05 12:47] MyTotoro commented on #19
This logger shouldn't be configured to accomplish this change, I believe `io.vertx.ext.auth.jwt.impl.JWT` should have a toggle which would output this.

logger level INFO is too common to be changed just to reduce this output

[2017-03-11 20:34] nevenr opened #119 "Event after OAuth2 authentication is successfuly done"
### Version

* vert.x core: 3.4.0
* vert.x auth: 3.4.0

### Context
Hi,

We integrated vertx based web app authentication with OpenShift 3.4 OAuth.
After successful authentication in routingContext.user().principal() we got
[code]
but not actual user info (e.g. username). To get this it is needed to perform one more request toward OpenShift endpoint https://#site#/oapi/v1/users/~ with access_token

[2017-03-11 20:51] nevenr opened #120 "Multiple auth providers at once."
### Version

* vert.x core: 3.4.0
* vert.x auth: 3.4.0

### Context

Hi,

is it possible to setup multiple authentication mechanism (e.g. user/pass form ShiroAuth + GitHub OAuth2Auth + something else) in the same time?

If some doc or example exists please point me to.

Thanks.

Regards,
N.

[2017-03-13 11:45] nevenr commented on #105
Hi Paulo,

can you assign this task to me.
Already I did some initial implementation.

Currently implementation is compatible with[ Apache 2.2 htpasswd file formats](https://httpd.apache.org/docs/2.2/misc/password_encryptions.html).
In [Apache 2.4 htpasswd file](https://httpd.apache.org/docs/2.4/misc/password_encryptions.html) bcrypt format is introduced but I could not find java bcrypt lib that s

[2017-03-13 11:51] pmlopes commented on #105
@nevenr I can only assign issues to the org members (github limitation).

[2017-03-13 11:52] pmlopes commented on #105
However you can make a pull request so we can track that you're working on it.

[2017-03-16 18:12] mavencode01 commented on #16
@pmlopes I'm trying to follow this thread but it appears I can't find the documentation describing what you last said.
What am looking for is being able to specify both `permission` and `role` using jwt for a protected route and authorizing user that either has that permission or belong to the role.

http://vertx.io/docs/vertx-web/java/#_configuring_required_authorities

[2017-03-16 19:33] pmlopes commented on #16
@mavencode01 with `vertx-auth` we use a simple model, which is `authorities`. IMO `permission` and `role` are more or less `micro` and `macro` `authorities`. So they do not differ much (their only difference is the meaning you give to it).

We standardized on using a simple string with an options separator `:` for systems that can do support the distinction between `role` and `permission`.

For JW

[2017-03-16 19:33] pmlopes opened #122 "Improve documentation"
See: https://github.com/vert-x3/vertx-auth/issues/16#issuecomment-287145197

[2017-03-17 05:46] mavencode01 commented on #16
@pmlopes thanks for the clarification now

[2017-03-23 07:38] pcholder opened #125 "vertx-auth-jdbc update from 3.3.3 to 3.4.x"
I have OSGI environment. After update from 3.3.3 to 3.4.x i have issues with vertx-auth-jdbc. Now it requires vertx-rx-java, which requires reactivex, vertx.codegen, vertx.docgen, annotations, etc. Some of them do not have osgi compatibility.

[2017-03-23 08:00] pmlopes commented on #125
`vertx-rx-java` is an optional dependency, you should be able to exclude it for now.

[2017-03-23 08:18] pcholder commented on #125
But i still continue to receive this message:
`org.osgi.framework.BundleException: Unable to resolve vertx-auth-jdbc [36](R 36.0): missing requirement [vertx-auth-jdbc [36](R 36.0)] osgi.wiring.package; (&(osgi.wiring.package=io.vertx.lang.rxjava)(version>=3.4.0)(!(version>=4.0.0))) Unresolved requirements: [[vertx-auth-jdbc [36](R 36.0)] osgi.wiring.package; (&(osgi.wiring.package=io.vertx.lang.r

[2017-03-23 08:32] cescoffier commented on #125
That's definitely a bug in the osgi metadata.

The metadata contains: `io.vertx.rxjava.*;resolution:=optional`. It should also contains: `io.vertx.lang.rxjava.*;resolution:=optional`.

I'm surprised we didn't catch this....

[2017-03-30 18:47] pmlopes commented on #119
We have the plan to support the parsing of the `id_token` as per OpenID Connect, this will already give you some of the info you're looking for, in the next iteration it is also the plan to implement the `userinfo` API call in a generic way so we can integrate with most providers, but for now there is no code that does what you've already implemented.

[2017-03-31 14:20] pmlopes opened #128 "Add OIDC user info endpoint"
Spec: https://openid.net/specs/openid-connect-core-1_0.html#UserInfo
Fixes: https://github.com/vert-x3/vertx-auth/issues/119

[2017-04-01 12:10] pcholder commented on #125
**vertx-auth-jwt** and **vertx-auth-oauth2** are also unable to be updated to 3.4.x, because of **vertx-jwt**

[2017-04-01 17:56] pcholder opened #129 "Both modules vertx-jwt and vertx-auth-jwt have the same package name io.vertx.ext.auth.jwt"
### Version

* vert.x core 3.4.x:
* vert.x auth 3.4.x:

### Context

Both modules  **vertx-jwt** and **vertx-auth-jwt** have the same package name **io.vertx.ext.auth.jwt**. Conflict leads to runtime error:
`java.lang.NoClassDefFoundError: io/vertx/ext/auth/jwt/JWTAuth`
 in osgi environment.

[2017-04-02 07:49] pcholder opened #130 "CSRFHandler"
### Context

CSRFHandler generates token from local variable **salt + current time** on each GET request (and some others, besides POST) and protects POSTs. Even the token is stored in cookies, this handler successfully validates any token from any alive session.
Consequently:
1. if pair SessionA + tokenA is valid then SessionB + tokenA is also valid

2. I can not use some csrf-protected "/api/*"

[2017-04-03 08:07] #122 closed

[2017-04-03 09:43] pmlopes commented on #130
The reason the handler validates any session is because it is stateless, the state is preserved in the session cookie, if the cookie is hijacked this could be because there are some security issues such as not using `HTTPS`. You can make it even more secure by enforcing a Same Origin Policy [1].

Regarding item 2 it is expected behavior, you must first make a request to get a token and then you ca

[2017-04-03 09:44] pmlopes commented on #130
Issue moved to [vert-x3/vertx-web #587](https://github.com/vert-x3/vertx-web/issues/587) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-03 09:44] #130 closed

[2017-04-05 11:37] #120 closed

[2017-04-07 19:33] dgbustos opened #132 "JWT.sign() includes payload padding"
### Version

* vert.x core: 3.4.1
* vert.x auth: 3.4.1

### Context

JWT's I created with `GoogleAuth.create().getToken()` include `%3D` at the end of the payload.  https://tools.ietf.org/html/rfc7515 indicates they should not.  I presume this could be fixed by changing `JWT.base64urlEncode()` to use `Base64.getUrlEncoder().withoutPadding()`.

[2017-04-10 19:39] #132 closed

[2017-04-12 08:30] pmlopes opened #133 "jdbc-auth default hashing strategy is weak"
Current algorithm just does 1x SHA256 + salt which is unsecure,

see: https://blog.mozilla.org/security/2011/05/10/sha-512-w-per-user-salts-is-not-enough/

consider a stronger solution such as:

https://github.com/defuse/password-hashing

[2017-04-12 13:32] tsegismont opened #134 "JWTAuthProviderTest#testGenerateNewToken fails consistently"
[code]

It fails since 4fe47159ce1437b4320b6f70d4ccc4e6a5adc020

[2017-04-12 18:13] #134 closed

[2017-04-14 09:06] guidbona opened #137 "oauth2 uses absolute URIs in calls to auth server"
### Version 3.4.1

* vert.x core: 3.4.1
* vert.x auth: 3.4.1

### Context

vertx-auth-oauth2 creates all requests to the authorization server passing the absolute URI instead of the relative one (absolute path).

[code]

instead of the expected

[code]

This is compliant with the HTTP spec (see [Section 5.1.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html#sec5.1.2)) but unfortunately does

[2017-04-25 13:04] forumd opened #139 "Oauth error."
Hi I new developer in vertx, I develop in Ruby.
I trying to make a social login (facebook and twitter) also try with github but this works.

- Facebook:
   Code:
[code]

  Error:

[code]
 - Twitter:
Code:
[code]
Error:
[code]

Thanks in advance.

[2017-05-05 12:37] nivg1992 opened #141 "Google oauth do not get email and email_verified"
### Version

* vert.x core: 3.4.1
* vert.x auth: 3.4.1

### Context

Hi,

I config on vertx google provider

`oauth2Provider = OAuth2Auth.create(vertx, OAuth2FlowType.AUTH_CODE, credentials);`
`OAuth2AuthHandler oauth2 = OAuth2AuthHandler.create(oauth2Provider, CallbackURL);`
`oauth2.setupCallback(router.get("/callback"));`

route to redirect
`router.route("/loginprovide/google").handler(loginR::L

[2017-05-05 13:16] pmlopes commented on #141
Google will not give you the email directly you need to call their API:

https://developers.google.com/+/web/api/rest/latest/people/get

[2017-05-05 13:16] #141 closed

[2017-05-05 13:16] #139 closed

[2017-05-05 15:25] #137 closed

[2017-05-08 19:31] #133 closed

[2017-05-15 11:11] #129 closed

[2017-05-19 13:03] johnoliver opened #142 "AccessToken introspection error"
### Version

* vert.x core: 3.4.1
* vert.x auth: 3.4.1

### Context

I get:

[code]
This is caused by https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/AccessTokenImpl.java#L96 when it is called from `AccessTokenImpl.introspect`.

It appears that introspect puts the whole access token into a json object on a field called `access_token`

[2017-05-22 09:02] #142 closed

[2017-05-23 21:07] ghulands opened #144 "AccessToken should provide access to the underlying tokens"
### Version

* vert.x core: 3.4.1
* vert.x auth: 3.4.1

### Context

It would be good to be able to get access to the underlying json response data so that it can be stored in a database and reconstructed later. I can access it by casting to AccessTokenImpl, but I don't really like to do that when dealing with an interface.

[2017-05-24 09:54] pmlopes commented on #144
You can get the underlying json object: http://vertx.io/docs/apidocs/io/vertx/ext/auth/User.html#principal--

[2017-05-24 09:54] #144 closed

[2017-05-30 05:51] ajayv14 opened #145 "Read-me file to compile and run"
Hi, a readme file with exact steps to run these example would be great, thanks

[2017-05-30 07:01] pmlopes commented on #145
@ajayv14 all examples live here: https://github.com/vert-x3/vertx-examples

Since this module is quite low level you will be it's usage with other modules like:

https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/auth
https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/jwt

And of course in the doc

[2017-05-30 07:01] #145 closed

[2017-05-31 07:03] ajayv14 commented on #145
Thanks for the reply..:), will read thro the links, thank you.

On Tue, May 30, 2017 at 12:01 AM, Paulo Lopes <notifications@github.com>
wrote:

[2017-06-14 10:46] kordian2k opened #146 "Expose permissions array in JWTUser principal"
### Version

* vert.x core: 3.4.1
* vert.x auth: 3.4.1

### Context
Given a JWTUser instance checking permissions would be easier if the permissions array is part of the principal. In fact, with the token being part of the principal the permissions are implicitly contained. Would it be possible to explicitly add the permissions?

[2017-06-26 11:25] pmlopes commented on #146
@kordian2k could you elaborate with a code snippet how you would see this? I'm not really understanding what you want to achieve...

[2017-06-26 13:19] kordian2k commented on #146
Dear @pmlopes,
Suppose a user is authenticated using vertx-web and its JWTAuthHandler. In my case the user may start a process running outside the JVM. Since I do not want to serialize / deserialize the user instance for future communication, I would like to generate a new short-living JWT including a different set of informations, but the same set of permissions.

[2017-06-26 14:47] pmlopes commented on #146
You can get a JSON representation of the token by doing user.principal() in this case you can inspect and clone / modify the permissions. Isn't that a option for your problem?

[2017-06-26 19:29] kordian2k commented on #146
Dear @pmlopes,
it is certainly an option. However, depending on the `permissionsClaimKey` in [JWTUser.java](https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jwt/src/main/java/io/vertx/ext/auth/jwt/impl/JWTUser.java) the stored permissions array is derived using the private method `getNestedJsonValue` which I would have to re-implement.

If you do not like the idea to change the `user.p

[2017-06-26 21:30] kordian2k opened #147 "JWT verification problem when using elliptic curve cryptography"
### Version

* vert.x core: 3.4.2
* vert.x auth: 3.4.2

### Context
I encountered a verification problem w/ JWT tokens generated using Vert.x and verified using the python package [PyJWT](https://github.com/jpadilla/pyjwt). Generating token w/ PyJWT and verifying using Vert.x leads to a similar error.

The problem only exists when using elliptic curve cryptography (`ES512`).

### Do you have a rep

[2017-06-27 09:38] pmlopes commented on #147
`ECC` is only available on OracleJDK and restricted to export laws, Nevertheless I'll check it out

[2017-06-28 09:05] pmlopes commented on #147
JCE Elliptic Curve signatures are in `ASN.1`/`DER` format while the JWT spec states that for `EC` algorithms the signature should be the values `R + S` as a concatenated byte representation of the 2 values.

[2017-06-29 10:09] pmlopes commented on #147
@kordian2k I've added a compatibility test for `ECDSA` signatures generated from `Python` and `node`. Could you please verify.

[2017-06-30 14:42] kordian2k commented on #147
@pmlopes I've tested the commit, but I still get a strange result:

**When using the attached keys and the commit the following works in vertx:**
`JWT jwt = new JWT().addPublicKey("ES512", "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEv5BsCYpLrE0qfDUWjWqXh3ABcI8JIw9A3e2sDSVN+wt102IttWiV7MFL06ch+JbFiIWxOahjaauKn+16aajEaw==");`

`assertFalse(jwt.isUnsecure());`

`assertNotNull(jwt.decode("eyJ0eXAiOiJKV1QiLCJ

[2017-06-30 19:44] pmlopes commented on #147
Verifying ECDSA keys is tricky because the signature algorithm always initializes with a random seed so signature are not byte by byte equal but one needs to extract the R and S values and compare those.

I'll try to make a test for that and see what happened, of course tokens generated in vertx require a private key that is pair with the public one used to decode.

[2017-07-03 10:18] pmlopes commented on #147
@kordian2k I've added a test using node to consume tokens generated from vert.x and I can verify that it works.

[2017-07-04 14:02] kordian2k commented on #147
@pmlopes I think I have found the reason for the errors.
According to [RFC7518 (3.1)](https://tools.ietf.org/html/rfc7518) the signature algorithm should be as follows:

- ES256        | ECDSA using P-256 and SHA-256
- ES384        | ECDSA using P-384 and SHA-384
- ES5**12**        | ECDSA using P-5**21** and SHA-512

I made the mistake to use the keytool with parameters `-keyalg EC -keysize 256`

[2017-07-04 15:20] pmlopes commented on #147
PR updated with correct key sizes. And indeed we can probably open a new issue to validate the size of the signatures and the algorithm names.

[2017-07-04 15:20] pmlopes commented on #147
Also I plan to update the documentation to explain how to generate the keys using `openssl` too.

[2017-07-04 15:22] pmlopes opened #149 "JWT algorithms are not validated"
One can add a algorithm named `ES512` but there is no validation that the signature is ECSDAWithSHA512 and key length 521.

[2017-07-04 15:22] pmlopes commented on #149
See #147

[2017-07-04 15:23] pmlopes opened #150 "Document how to create JWT keys with OpenSSL"
Currently the documentation is quite scarce and relies on keytool. `OpenSSL` is a popular tool and very common for security reasons.

[2017-07-04 15:24] pmlopes commented on #150
See #147

[2017-07-19 08:24] #147 closed

[2017-07-25 09:23] #105 closed

[2017-08-07 13:51] johnoliver opened #153 "AccessToken.refresh error"
### Version

* vert.x auth: 3.4.2

### Context

When calling AccessToken.refresh I get the following error:

[code]

Seems like `AccessTokenImpl.refresh` needs to add `put("authorizationHeaderOnly", true)` to the api query, similar to the `AccessTokenImpl.introspect` method.

Would adding this break other applications?

[2017-08-07 14:42] pmlopes commented on #153
I don't believe it will break anything.

[2017-08-14 10:01] jponge opened #155 "Regression in Rx-ification"
### Version

* vert.x core: 3.5.0.Beta1
* vert.x auth: 3.5.0.Beta1

### Context

Upgrading the `vert-x3/vertx-guide-for-java-devs` project to 3.5.0.Beta1, I got a compilation error in the `step-8` module (the one that introduces RxJava support).

I haven't attempted migrating to RxJava2 yet, but there is a regression in the RxJava code generation support:

https://github.com/vert-x3/vertx-guide-fo

[2017-08-14 11:27] pmlopes commented on #155
The issue has been fixed at the guide repo. The old API was not typed and not documented, now it is typed and documented, however since we introduced a DataObject where JsonObject was present we can only keep the original API for the Java side not the codegen side. If you're using a codegen layer you either need to go deep and get the delegate or update the code.

[2017-08-14 11:27] #155 closed

[2017-08-14 13:10] jponge commented on #155
Thanks @pmlopes you rock 👍

[2017-08-14 18:46] #153 closed

[2017-08-31 22:53] jwagnerLegacy opened #157 "JWT-Auth "now" is truncating instead of rounding."
### Version

* vert.x core: 3.4.2
* vert.x auth: 3.4.2

### Context

I've noticed that when using Auth-JWT, sometimes the validation of the token fails because iat is greater than now (Current time in seconds). Everything else passes, but iat. I've noticed this behavior with Google's OAuth Implementation.

In testing I have deduced that Google is rounding their timestamp, while Java is truncating

[2017-09-01 07:18] pmlopes commented on #157
Either Google is rounding (which it shouldn't since it means that you're setting times in the future) or the clocks between the two parties are drifting.

What I propose is to add a `leeway` default to 0 that will allow adjusting the current clock for sync issues. So if you would say allow leeway of 5 seconds the everything should be fine for you.

[2017-09-11 19:51] jgeth opened #160 "MongoAuth: Provide method for updating and/or encrypting password"
Currently, there is no mechanism provided by MongoAuth to update a principal's password. While it is possible to replicate the encryption strategy outside of MongoAuth, this presents potential for breaking if the strategy within MongoAuth is modified.

Request to provide a mechanism for updating a MongoAuth principal. If insertUser() expects an unencrypted String for password, a new method (update

[2017-09-11 20:20] pmlopes commented on #160
why not use your mongo client to do your user management and recalculate the hash by invoking:

[code]

[2017-09-11 20:31] jgeth commented on #160
Doing precisely this currently. Concern is that if MongoAuth implementation changes, external code needs to change. Maybe this is a non-issue, but a convenience method seems a safer approach.

[2017-09-12 08:39] pmlopes commented on #160
The API used above is public so we should have the contract of not breaking it.

[2017-09-12 10:45] #157 closed

[2017-09-12 16:13] jgeth commented on #160
Works for me

[2017-09-12 16:13] #160 closed

[2017-09-14 21:04] #128 closed

[2017-10-04 20:24] nevenr commented on #119
Explained a bit in
http://vertx-tutorials.jetdrone.xyz/tutorials/oauth2/github/

[2017-10-04 20:37] pmlopes commented on #119
I've also added the tutorial example code plus part of the text to the manual. But indeed the tutorial is a bit more extensive.

[2017-10-04 20:40] pmlopes opened #161 "Add support to id_token from openid_connect"
many OAuth2 providers also support openid_connect. OpenID has an extra token id_token that contains basic user information that could be made available to the oauth2 API

[2017-10-12 19:27] pmlopes opened #163 "keycloak rotate keys and removed them from the config"
Keys are available as a json array at:
http://localhost:8080/auth/realms/master/protocol/openid-connect/certs

sample:

[code]

The encoding is not in `pem` but:

* `n` the modules
* `e` the exponent

And now we can rebuild the key...

This json corresponds to the JWK set spec:

https://tools.ietf.org/html/rfc7517

[2017-10-15 06:16] geromueller opened #164 "Add possibility to pass KeyStore object to JWTAuth.create"
### Version

* vert.x core: 3.4.2
* vert.x auth: 3.4.2

### Context

Add possibility to pass KeyStore object to JWTAuth.create. This would allow UnitTests without a keystore on disk.

[2017-10-19 16:24] johnoliver opened #165 "Multiple authentication methods used"
### Version

* vert.x core: 3.5.0
* vert.x auth: 3.5.0

### Context

Since #154 was partially revoked, it seems as though client_id/client_secret will be passed in the body of the requests and the client password will be added to the Authorization header. Comments say that Salesforce requires this (https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/

[2017-10-26 20:29] pmlopes opened #168 "JWT decode issue"
@neterium commented on [Thu Oct 26 2017](https://github.com/vert-x3/issues/issues/304)

Hi !

I'm using the vertx JWT auth provider, but I'm behind an API gateway which does all the signature checks etc.... for me already. So I basically use the provider to further (re)check the token expiration and to receive my User which will then be used for the authorization (role checks).

I noticed in the J

[2017-10-26 20:39] pmlopes commented on #168
@neterium what you're seeing is correct. You are in unsecure mode when your JWT object does not have any keys/mac's configured, however your token header do specify that they are encoded using a specific algorithm. (it should be the "alg" variable you see).

Since there are no known keys for that algorithm the auth provider cannot confirm that the token is valid or not. Now you might wonder why do

[2017-10-26 20:39] #168 closed

[2017-10-27 06:25] neterium commented on #168
Well, I do not have "none" in my algo and the token is properly signed (RS256), but already verified in my API Gateway. Si, in other words, it would be nice to have a way to just skip the signature check. Maybe in the options? In the meantime, I've written my own authenticator; but I think it might be a good addition.

[2017-10-30 16:23] pmlopes opened #169 "OAuth2 tokens that are JWT's should be decoded into the principal"
currently only a small portion of the decoded token is visible through the principal object, the whole token should be made available to the principal object.

[2017-11-12 00:38] adrianmoya opened #171 "Working Kotlin example"
Is there a Kotlin example? I'm trying to get the docs example in http://vertx.io/docs/vertx-auth-jwt/kotlin/ but I just can't find the combination of imports to make it work. Java works out-of-the-box but I'm learning Kotlin. The example code is:

[code]

[2017-11-12 00:45] adrianmoya commented on #171
Actually, it looks like that's not valid Kotlin code? I made it work like this:

[code]

[2017-11-12 19:29] adrianmoya commented on #171
The code that finally worked was this:

[code]

The original example from the docs gives the error
[code]

And using the constructor with the JsonObject failed with:
[code]

[2017-11-13 03:05] gaol opened #172 "Fluent API are not used in HtpasswdAuthOptions and JWTAuthOptions"
### Version

* vert.x core: 3.5.1-SNAPSHOT
* vert.x auth:  3.5.1-SNAPSHOT

### Context

When I tried to use `HtpasswdAuthOptions.java` and `JWTAuthOptions.java`, I found 2 setter methods are not following the Fluent API convention. I think it could be better to have same API style:

JWTAuthOptions.java:
[code]
HtpasswdAuthOptions.java:
[code]
### Extra

* I have the PR ready at: https://github.com

[2017-11-27 08:25] patton73 opened #174 "JWTAuthHandler interface create cannot skip multiple paths"
Version

    vert.x core: 3.5.0
    vert.x web: 3.5.0

The interface JWTAuthHandler create method
static JWTAuthHandler create(JWTAuth authProvider, String skip)

lacks the possibility to skip completely different path routes (for example /path1 /path2)
Could be very useful to add this possibility.
You can pass an ArrayList of String to be skipped.

Thank you very much for your help.
Andrea.

[2017-12-14 22:06] #161 closed

[2017-12-14 22:06] #169 closed

[2017-12-14 22:12] pmlopes commented on #102
EU General Data Protection Regulation (GDPR) will start to be enforced in 2018 this PR will clearly link personal data with the collected data, so I'd not like to merge this and adding extra info to the user should be kept external as mandated by the GDPR.

[2017-12-14 22:12] #102 closed

[2017-12-14 22:21] pmlopes commented on #125
I'll mark this issue as invalid and close as the current version is 3.5.0 If this is still the case it can be re-open.

[2017-12-14 22:21] #125 closed

[2017-12-15 01:01] DieterDePaepe commented on #102
I fail to see the issue. Any realistic web application holds info linked to user accounts that isn't privacy related (time zone, preferred language, activation status of the account...).

Even if GDPR forbids this practice (after all, I'm no legal expert), it is the job of the application developer to be law compliant. This isn't the task of the framework...

[2017-12-18 09:46] pmlopes commented on #102
@DieterDePaepe Is it is a matter of accountability. The end user can still use the backend collection with the columns at will but this is not declared by vert.x so in case of fines/sactions one cannot claim that this project is liable for the infringement.

[2018-01-11 08:36] vietj commented on #163
is it for 3.5.1 @pmlopes ?

[2018-01-11 08:47] #172 closed

[2018-01-15 17:55] sonOfRa opened #178 "vertx-auth doesn't use current OWASP password hashing recommendation"
This is basically a followup to #133.

The addition of what you call "nonces" to the salted SHA512 is not what the state of the art in cryptographic password hashing is. You want to use either bcrypt (https://github.com/jeremyh/jBCrypt) or the newer argon2 (https://github.com/P-H-C/phc-winner-argon2). Java bindings for argon2 are available.

The problem with just using a single round of SHA512 is

[2018-01-15 18:10] sonOfRa commented on #178
In addition to this, hash verification is done in a non-constant-time manner, which is also a security bug:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jdbc/src/main/java/io/vertx/ext/auth/jdbc/impl/JDBCAuthImpl.java#L93

This uses .equals() to compare hashes, so an attacker can extract timing information about the passwords. There's MessageDigest.isEqual(), which takes two byte

[2018-01-15 20:25] pmlopes commented on #178
@sonOfRa I do agree that we should fix all equality check with `MessageDigest.isEqual` however regarding the different algorithm it's a bit more tricky but not a complex issue. Changing the algorithm will break existing deployments **BUT** the algorithm is kept inside the hashing strategy implementation, so adding a extra, stronger one is easily feasable.

Up to now we did not include any crypto l

[2018-01-15 23:57] dazraf commented on #32
I've just come across this issue myself. It never has happened in a 'classic' vertx project. The project that it fails in uses another netty-based project called Corda (https://www.corda.net). I wonder if this is related. How does vertx ensure that the threadpool threads all received the appropriate TLS?

[2018-01-16 02:14] dazraf commented on #32
Ok, so I've got a work around for my project. Sharing it here in case it helps. My use-case started three Corda nodes *in-memory* for the purposes of an unit/integration test. Each nodes creates a vertx instance, deploys a verticle, which during `start()` initialises the shiro `AuthProvider`. I reconfigured the startup to start each node in a separate process and the problem disappeared! I still d

[2018-01-16 18:30] yawkat commented on #178
Also, the HashStrategy interface is kind of difficult to implement for some hashes - hash(String) + verify(String, String) would be much simpler than the current generateSalt + hash. Not every hash algorithm has a normal concept of a salt like that.

[2018-01-17 18:47] sonOfRa commented on #178
Looking at the API a bit, it's going to be difficult to create a new, better API without breaking compatibility. How willing are you to make this a breaking change (that can be merged with a new major version), instead of trying to retain compatibility? I suppose one *could* hack in support for PBKDF2 into the current scheme without replacing the API, but other functions are going to be a lot hard

[2018-01-23 19:08] pmlopes opened #180 "Unify the hashing strategies following best practices and allow effortless migrations"
Currently both `JDBC` and `Mongo` hashing strategies are not compatible and are hard to upgrade. They do not have a simple API for hashing upgrades and this can be problematic for some projects.

This is a follow up from #179

The goals for this feature would be:

* [x] use the PHC string format?
* [x] allow plug of strong algorithms not bundled with the JDK (e.g.: bcrypt)
* [x] reusable between `

[2018-01-23 19:19] sonOfRa commented on #180
Well, considering this is a general problem, I've started to write a library to remedy this. If you like it, you can either add it as a dependency, or integrate the code directly into the vert.x codebase if so desired. It lives at https://github.com/sonOfRa/pwhash and is obviously still very incomplete since I only started writing any code on it today. However, some unpolished implementation for t

[2018-01-24 08:50] pmlopes commented on #180
I believe we could use the basic interfaces + simple implementation in vert.x and use a service loader to load external algorithms.

[2018-01-24 08:55] pmlopes commented on #180
For reference hash strings should be stored according to: https://github.com/P-H-C/phc-string-format/blob/master/phc-sf-spec.md

[2018-01-24 11:04] sonOfRa commented on #180
Yes, that is basically how they are stored in the API I linked. The only problem is that that spec is out of date, and the authoritative source for the format is now the argon2 source code, see https://github.com/P-H-C/phc-string-format/issues/1 and https://github.com/P-H-C/phc-winner-argon2/issues/157

The format is somewhat ill-defined, but *mostly* well defined. Bcrypt for example works *almost

[2018-01-24 11:23] sonOfRa commented on #180
I've added another class to the library, the (https://github.com/sonOfRa/pwhash/blob/master/src/main/java/de/slevermann/pwhash/MigrationStrategy.java)[MigrationStrategy].

While in the general case, an implementation of a HashStrategy only knows about *its own* specifics for needsRehash(), the MigrationStrategy knows about two strategies, namely the "to" and "from" strategies.

This would allow fo

[2018-01-24 11:49] pmlopes opened #181 "Implement OpenID Connect Discovery"
Reference: https://openid.net/specs/openid-connect-discovery-1_0.html

By implementing at least a subset of this spec we could simplify the usage and configuration of a provider as a single configuration element, a URL.

The goal is to simplify the configuration and adoption of OAuth2 auth.

[2018-01-25 13:30] pmlopes commented on #180
@sonOfRa I was thinking something more on these lines:

https://github.com/vert-x3/vertx-auth/pull/182/commits/9c1d1160051c403f689d56736c20561267d2026b#diff-7a1027d749d98e558dd0699b9e019bbc

The idea is that anyone can add any extra algorithms they like by creating a simple jar file with a implementation of the interface:

https://github.com/vert-x3/vertx-auth/pull/182/commits/9c1d1160051c403f689d

[2018-01-25 19:07] #163 closed

[2018-01-25 19:07] #178 closed

[2018-01-26 16:40] cristic83 opened #183 "ChainAuthHandlerImpl always authorizes authenticated users"
### Version

* vert.x core: 3.5.0
* vert.x auth: 3.5.0

### Context

The chaining of multiple auth mechanisms does not work as expected when an user provides correct credentials, but does not have the authorities to access a resource.

The io.vertx.ext.web.handler.impl.ChainAuthHandlerImpl class overrides the addAuthority and addAuthorities methods from the AuthHandlerImpl class to delegate to its

[2018-01-26 19:33] pmlopes commented on #183
This is related to vertx web as chain auth does not perform or have authorities checks.

On vertx web the behavior when you add an authority it adds it to all registered auth providers.

What you’re observing in your image is that once you mix providers that support authorities and one which don’t we enter a state that authorities are not checked.

[2018-02-14 16:21] HugoCrd opened #185 "DecodeException while authenticating with GoogleAuth"
Hi!

### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

I just upgraded to 3.5.1.
`oauthClient.authenticate` now throws a `io.vertx.core.json.DecodeException` when decoding Google's response.
I think Vert.x is now waiting for a JWT token instead of a String token.
Did I miss something while upgrading?

See Stacktrace at the end of this issue.

### Do you have a reproducer?

I use

[2018-02-14 18:50] pmlopes commented on #185
Just to confirm, this is just noise in the logs right?

The exception is being catched here:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2TokenImpl.java#L105

And logged as a warning, when it should be more a debug level. If the behavior is really broken then we need to look deeper what is going on. For example the unit test

[2018-02-14 19:23] HugoCrd commented on #185
Yes. Sorry I forgot the most important part :/
The Authentication does work, but throws this as a warning. As it's a warning I wondered if I did something wrong or if there was a breaking change that I missed.

[2018-02-15 08:40] pmlopes commented on #185
@HugoCrd thanks for the update, indeed, i'll lower the logging to debug as it is a debug warning not really a error at runtime.

[2018-02-15 08:44] pmlopes commented on #185
@HugoCrd thanks for the update, indeed, i'll lower the logging to debug as it is a debug warning not really a error at runtime.

[2018-02-15 10:01] HugoCrd commented on #185
Thanks you!

[2018-02-21 14:09] cristic83 opened #187 "OAuth2AuthProviderImpl always requires a client_secret"
### Version

* vert.x core: 3.5.0
* vert.x auth: 3.5.0
* vertx-auth-oauth2: 3.5.0

### Context

The OAuth2AuthProviderImpl always requires a client secret to be configured for the AUTH_CODE flow.
This is wrong, as in the case the OAuth2ClientOptions.setUseBasicAuthorizationHeader(false), e.g. because of using the private_key_jwt client authentication method (http://openid.net/specs/openid-connect-

[2018-02-22 13:26] cblanche34 opened #188 "Aouth Token format : Cannot decode token: Not enough or too many segments"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

I try to upgrade to 3.5.1, but OAuth2TokenImpl allows only JWT token and produces exception else.
I don't think OAuth specify the access token format itself, we don't need to use JWT.

With AccessTokenImpl (3.5.0), it was possible to use Jwt or not :
[code]
Warn exception thrown :
[code]

### Steps to reproduce

Use an oauth toke

[2018-02-22 18:41] pmlopes commented on #188
This is a duplicate of #185

For clarification, what you're seeing is not a bug but a logger using the wrong level, there is already a fix #186 and the current solution is to do not log warnings when in prod. The exception is properly handled internally just logged too loudly.

[2018-02-22 18:41] #188 closed

[2018-02-22 20:25] pmlopes commented on #187
@cristic83 OIDC private_key_jwt was never considered as the code was initially only for OAuth2 and is being slowly being extended to support more OIDC features. I'll mark this issues as a new feature and if you're interested please review this code for more missing OIDC feature or help us with a pull request!

[2018-02-22 20:26] #185 closed

[2018-02-26 15:58] leotu opened #189 "AccessTokenScope response scope is null value cause NPE"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

[code]

### Do you have a reproducer?

* JUnit test code
[code]

### Steps to reproduce

1. Method:
io.vertx.ext.auth.oauth2.impl.OAuth2TokenImpl#init

[code]

2.  When scope's value is null
ex:
[code]

3. NPE at
[code]

token.getString("scope", "") will return null not "",  raising NPE

[2018-02-26 16:53] leotu opened #190 "Why OAuth2 AccessToken value must be JWT encoded"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context
access_token or refresh_token incorrect if not JWT encoded format.

[code]

### Do you have a reproducer?

* Link to github project/gist

[OAuth2AccessTokenTest](https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/test/java/io/vertx/ext/auth/test/oauth2/OAuth2AccessTokenTest.java)

### Steps to reproduce

1.  J

[2018-02-26 17:01] leotu commented on #190
#188

[2018-02-26 17:01] #190 closed

[2018-03-02 09:28] pmlopes commented on #164
@geromueller I'm in the process of deprecating all keystore code as it seems to be a major pain for users. The proposal is to upgrade either to use PEM files (OpenSSL) or JWK.

For PEM files you can review this: #191
For JWKs you can generate then using this webapp: https://mkjwk.org/

There is already code to work with JWK it's only missing the direct access from the JWT Auth create. The goal wit

[2018-03-02 09:29] pmlopes commented on #171
I'm worked on a PR for key generation with examples: #191 feel free to review

[2018-03-06 10:38] julienBaleizao opened #195 "Oauth2 provider is throwing exception when token is decoded"
### Version

* vert.x core:3.5.1
* vert.x auth:3.5.1
* vertx-web:3.5.1

### Context

I want to secure my API with Oauth providers. For this purpose I am using the Vertx implementation for Facebook, GitHub ...
I am using the AUTH_CODE flow to retrieve my token. I get a RuntimeException when the Oauth2TokenImpl tries to decode the token as a JWT token. I have seen that in the master branch this exce

[2018-03-06 12:43] pmlopes commented on #195
Duplicate of: https://github.com/vert-x3/vertx-auth/pull/186

The log is just noise at the moment, the exception is handled internally.

[2018-03-06 12:44] #195 closed

[2018-03-13 08:34] julienBaleizao opened #197 "Get user information failed with Facebook"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

When I try to get the user information following this code:
`(OAuth2TokenImpl oAuth2Token).userInfo(...);`

The future failed with the message "Cannot handle Content-Type: text/javascript"
After looking at the Vertx code I see that you only handle the content type application/json, application/x-www-form-urlencoded or text/plain.

[2018-03-13 11:55] pmlopes commented on #197
@julienBaleizao could you debug and report the request + responses of this call? the content type `text/javascript` does seem incorrect as I assume it is a script and we will not run scripts. I expect a json payload.

Could you also try to reconfigure the provider with a version? e.g.:

[code]

[2018-03-13 13:56] julienBaleizao opened #198 "Cannot get the expiration value of the Oauth2 user token"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context
I am using the Oauth2 implementation of Vertx to retrieve user token from oauth2 providers (Facebook, github ...).
I want to get all the token information (expires_in, access_token, refresh_token ...) to be able to store this data in my database.
The issue is that the OAuth2TokenImpl object does not permit to retrieve the expirati

[2018-03-13 17:35] julienBaleizao commented on #198
The principal() method from OAuth2TokenImpl does the job.

[2018-03-13 17:35] #198 closed

[2018-03-14 12:14] pmlopes commented on #197
@julienBaleizao that is good to know. It makes sense, that if you specify what you accept it replies with the correct value, I think that is the correct way to go.

[2018-03-20 09:33] #150 closed

[2018-03-20 09:34] #197 closed

[2018-03-22 13:07] sinnedh opened #201 "Using jwtOptions in generateToken"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

This issue is not a bug but rather a question/proposal.

In the 'JWTAuthProviderImpl' the `jwtOptions` parameter is only used in `authenticate` but not in `generateToken`. In the latter function, the `jwtOptions` need to be passed additionally:

https://github.com/vert-x3/vertx-auth/blob/4079371267fb4b2ced3a47d405a37a85313f32f2/v

[2018-03-22 19:38] lecogiteur opened #202 "Oauth 2 introspect and Cannot decode token"
Hi,

 In version 3.5.0, when I do an instropect. It's work no problem.

[code]

After, I migrate to 3.5.1, I have this error in log

[code]

After investigation, it seems it's just a warning. The introspect works well. Is it necessary to log in warn level this stack trace? It is dangerous to mute log warn on class OAuth2TokenImpl ? Is it a normal process or I must configure something in order to n

[2018-03-22 20:34] pmlopes commented on #202
indeed that's a log message that was being reported with the wrong level. I've fixed it on master, in order to reduce the noise you can configure your logger to ignore this class for now.

[2018-03-23 05:49] lecogiteur commented on #202
Thanks

[2018-04-04 15:18] FroMage opened #203 "Shiro Auth prints exception on stderr when user is invalid"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-shiro/src/main/java/io/vertx/ext/auth/shiro/impl/ShiroAuthProviderImpl.java#L79 shows that an invalid user will throw an exception, which is caught by the blocking-runner thread, and handled properly, but logged on stderr with a big stack trace that leads me to think it

[2018-04-04 18:17] pmlopes commented on #203
I'm confused the code pointer is about throwing an exception. It doesn't print it, do you have a stack trace so I can see where it gets printed?

[2018-04-05 14:01] FroMage commented on #203
Here's the stack trace I get:

[code]

[2018-04-05 14:04] FroMage commented on #203
OK, you're right, I'm an idiot, I am the one printing the exception. So sorry about the time waste :(

[2018-04-05 14:04] #203 closed

[2018-04-05 15:55] johnoliver commented on #202
I believe this is an issue, inside [OAuth2TokenImpl](https://github.com/vert-x3/vertx-auth/blob/8850394fe8569f42f95b06c25a35267a36ae904c/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2TokenImpl.java#L129) it attempts to decode refresh tokens as if they are in the same format as access tokens. Which means that this exception is thrown and the refresh token is lost.

[2018-04-06 07:30] pmlopes commented on #202
This has been fixed in master

[2018-04-06 07:30] #202 closed

[2018-04-09 08:12] pmlopes commented on #75
Its been more than 1 year waiting for feedback. Since the issue could not be reproduced, i'll close it.

[2018-04-09 08:12] #75 closed

[2018-04-09 08:13] pmlopes commented on #74
No feedback for more than 1 year, will close.

[2018-04-09 08:13] #74 closed

[2018-04-16 07:40] nkuehn opened #206 "docs: "relay" vs. "relying" party ; RFC 7660 vs 7662"
I have the suspicion (but am not 100% sure) that the vert.x auth Oauth2 documentation actually means the "relying party" and not the "relay party" as stated in the documentation.  It's a pretty fundamental difference - relay is a rather seldom use case and the "RP" shortcut can easily be confused.

Also (in this case I'm pretty sure):  The Chapter about Token Introspection mentions "RFC 7660" wher

[2018-04-18 11:36] Anuj-Chauhan opened #207 "Insufficient parameter support to connect to LDAPS over SSL."
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

LDAP naming error while trying to authenticate user by LDAP over SSL.
Works over plain http, with ssl disabled.

### Error
_2018-04-17T14:56:37,251 [vert.x-eventloop-thread-0] INFO queryapi.verticle.QueryApiVerticle - io.vertx.core.VertxException: org.apache.shiro.authc.AuthenticationException: LDAP naming error while attempting

[2018-04-18 15:04] #207 closed

[2018-04-19 13:15] nkuehn opened #208 "OAuth2TokenImpl: duplicate checks in token introspection"
### Version

* vert.x core: master
* vert.x auth: master

### Context

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2TokenImpl.java#L519  + ff

Both the check for the `active` flag and the correct `client_id` are duplicate in the code.   The check for `client_id` is done slightly different, but functionally identical (looking

[2018-04-23 17:16] sfitts opened #210 "OAuth2: WARN level log message produced when expecting a JWT and given something else"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1
* vert.x auth-oauth: 3.5.1

### Context

OAuth2 Token implementation is too verbose when unable to decode JWT.  In our use case we have both OAuth and internally managed tokens.  We start by seeing if the token is valid with the OAuth provider -- when this is one of our tokens it fails as expected, but it also produces a WARN level log message

[2018-04-24 04:47] micjaesc opened #211 "refresh token is hanging"
### Version

* vert.x core 3.5.1:
* vert.x auth 3.5.1:

### Context

when calling refresh token,  there is no any  results on callback. In other words, callback is never called (with success or failure) and it hangs forever. Even  if I have some problems with token provider, i should get callback with error.

Below our usage in Kotlin
[code]
### Do you have a reproducer?

no

### Extra

On my prod

[2018-04-25 18:45] #211 closed

[2018-04-26 18:28] pmlopes commented on #210
This has been fixed by: https://github.com/vert-x3/vertx-auth/pull/186

[2018-05-07 06:56] de1001 opened #212 "Vertx won't close successfully"
### Version

* vert.x core: 3.5
* vert.x auth: 3.5

### Context

VertxContextPRNG doesn't mark the input future complete preventing call from CloseHooks.run from completion.

### Do you have a reproducer?

100% reproducible with steps below in any verticle that uses vertx-auth.

### Steps to reproduce

1. Launch any verticle with authentication enabled
2. Once running, hit ctrl+c to close the vert

[2018-05-07 07:17] vietj commented on #212
@pmlopes your opinion ?

[2018-05-07 12:59] pmlopes commented on #212
Perhaps the whole `PRNG` close should be removed. Basically what it does it stop a timer, so if vert.x is shutting down then it would be enough.

[2018-05-07 18:20] pmlopes commented on #212
@de1001 are you willing to make a PR removing all calls to `.addCloseHook`?

[2018-05-12 05:36] hsluoyz opened #213 "pom.xml: Element bnd is not allowed here"
I opened this project with latest ``IntelliJ IDEA 2018.1.3``. Then it alerts that all pom.xml files have the following error. And a lot of the symbols can't be resolved in .java files. I suspect it has something to do with the pom.xml error.

![qq 20180512133530](https://user-images.githubusercontent.com/3787410/39954008-651f88ce-55e9-11e8-8080-c2b3b69097ea.jpg)

[2018-05-15 07:59] mystdeim opened #214 "Slow initialization of JWTAuth"
Java works slow witn keystore, so JWTAuth.create(vertx, config) works slow (takes 1.2s in averange).
This issue heavily impacts perfomance of my unit-tests, because I deploy verticle with JWTAuth provider within before every test.

How about loading key store inside JWTAuthProviderImpl lazily?

[2018-05-15 16:16] pmlopes commented on #214
Hi, I'm currently working on fully deprecate Java key stores in preference of openssl keys or the standard jwk. Perhaps you could look into using those as they are simpler and probably faster. However initialization code is run once, making it lazy would just move the issue somewhere else right? And perhaps would require locking mechanisms which would impact even worse the runtime performance, no?

[2018-05-15 18:33] mystdeim commented on #214
Ok, you persuaded me. Lazy init makes code more complicated. Could you give me a link "I'm currently working on fully deprecate Java key stores in preference of openssl keys or the standard jwk"

[2018-05-16 15:41] hsluoyz commented on #213
Thanks. I have reported this bug to IDEA. It can be tracked here: https://youtrack.jetbrains.com/issue/IDEA-192117

[2018-05-24 13:07] Jotschi opened #216 "OAuth2AuthHandler not failing for invalid JWT"
### Version

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context

The OAuth2TokenImpl is just returning null when a token can't be decoded. I would expect that the `OAuth2AuthProviderImpl.decodeToken()` method catches the exception and fails using the provided handlers.

[code]
### Steps to reproduce

1. Setup OAuth2 handlers and invoke request using:
```Authorization: Bearer borked```

2. Obse

[2018-05-25 10:46] aschrijver commented on #164
Hi @pmlopes

For which Vert.x version is this keystore deprecation planned (and the new implementation ready, incl. tests?

PS The site https://mkjwk.org/ has certificate errors.

[2018-05-25 12:27] pmlopes commented on #164
@aschrijver the jwk code is in, so as of 3.6 the old keystore code will be deprecated. We have this rule that deprecated code is available for at least 3 releases under the same major release version.

[2018-05-25 12:28] aschrijver commented on #164
Ok, thank you. That is great!

[2018-05-25 12:29] pmlopes commented on #164
A command line alternative to mkjwk site can be found here: https://connect2id.com/products/nimbus-jose-jwt/generator

[2018-05-29 11:01] #210 closed

[2018-05-29 11:10] #212 closed

[2018-06-03 08:41] RaiBnod opened #219 "AccessToken logout doesn't work"
### Version:

* vert.x core: 3.5.1
* vert.x auth: 3.5.1

### Context and Issue
I am using Keycloak as the third-party authentication system. And It is very fine with the login but while I need to logout the session I face a problem. Detail code is written below:

        router.route("/api/logout").handler(ctx -> {
            User user = ctx.user();
            if (user != null) {

[2018-06-04 16:30] RaiBnod commented on #219
form.put("refresh_token", token.getString("refresh_token"));

This line of code on function '**public OAuth2TokenImpl logout(Handler<AsyncResult<Void>> callback)**' will get failed since context user doesn't give us the refresh_token value. Maybe, it should get refresh_token from the body.

[2018-06-04 19:41] pmlopes commented on #219
That should only be added to the form if the value is not null or empty string

[2018-06-05 04:32] RaiBnod commented on #219
I haven't found any option to access AccessToken with refresh_token, code is like this:

    private OAuth2Auth loginAuth;
    loginAuth.introspectToken(access_token,res->{
        if(res.succeeded()){
            System.out.println("Auth Success");
            AccessToken token=res.result();
            ctx.setUser(token);
            ctx.next();
        }else{
            System.out.println("Aut

[2018-06-12 15:08] johnoliver commented on #202
Are you sure this was fixed? I still get these exceptions and looking at the code it still looks like OAuth2TokenImpl is trying to treat refresh_tokens as if they are a JWT

[2018-06-14 12:04] artyomsafronov commented on #216
I've faced with this issue too.
I think the root is in **decodeToken** method of **OAuth2TokenImpl** class. The method is called from the constructor and it consumes an exception rather than throw/rethrow it.
`
} catch (RuntimeException e) {
    LOG.warn("Cannot decode token:", e);
}
`
Please fix the issue as soon as possible because of it is a severe security issue.

[2018-06-15 08:43] pmlopes commented on #216
@Jotschi @artyomsafronov I've a PR that fixes this bug, for the moment, please assert that the user in the session is not empty and return a 401 in that case. Once a release is available with this fix then the workaround is not necessary. Sorry for the inconvenience.

[2018-06-21 09:37] #216 closed

[2018-06-21 13:11] #180 closed

[2018-06-22 19:04] pmlopes commented on #219
2 things here, we need to link user to session objects and invalidate them at the same time.

[2018-06-25 14:28] pmlopes commented on #219
The user object as returned from the OAuth2 module already knows how to handle `logout` requests, however there are a couple of issues here:

1. logout per Keycloak requires a refresh token to be passed to the call
2. keycloak does not implement the token invalidation endpoint

So when the token is stored completely on the session, the session will include the refresh token and id token as returne

[2018-06-25 14:44] pmlopes opened #223 "Add support for custom RBAC"
Currently RBAC is hardcoded to the Keycloak token format, a plugable handler should be in place to allow using other RBAC sources, for example the MP-JWT-1.1 spec or graph API from AzureAD or Salesforce

[2018-06-28 02:00] potatop opened #224 "oidc jwks x5c is not a pem certificate"
### Version

* vert.x core: master
* vert.x auth: master

### Context
https://tools.ietf.org/html/rfc7517#section-4.7
https://tools.ietf.org/html/rfc7517#appendix-B
Right now the code expect x5c certs to be a pem string that begin with -----BEGIN CERTIFICATE----- and end with -----END CERTIFICATE-----, but the spec is just a base64 encoded string.

### Do you have a reproducer?

[code]

### Steps

[2018-07-02 09:21] pmlopes opened #226 "JWTAuth does not expose a way to configure JWKs"
This should be present as it should become the expected way to handle keys

[2018-07-02 09:29] pmlopes opened #228 "Deprecate JWT key loading from keystores"
In the current implementation the JWT code can read both PEM file format files or get the keys from a java keystore. The java keystore is not a standard but a implementation detail inherited when the original code was ported from Yoke to Vert.x3.

The code assumes that keys are named according to the algorithms expected by the JWT format and makes even more assumptions for RSA keys where signature

[2018-07-02 13:38] #228 closed

[2018-07-02 13:38] #226 closed

[2018-07-03 14:24] potatop commented on #224
Thanks.

[2018-07-12 09:58] BrunoVernay commented on #171
I am trying to build one https://gitlab.com/BrunoVernay/oauth-vertx-kotlin
It does not work yet, but it builds: dependencies and syntax are Ok.

[2018-07-12 10:09] BrunoVernay opened #231 "In Auth2: logs more info, debug messages to help debugging and understanding"
### Version

* vert.x core: 3.5.2
* vert.x auth: 3.5.2

### Context

I try to use OAuth (OpenID Connect) to authenticate to Keycloak, but have a hard time figuring out what happen and what the API does.

It would be nice to know what is exchanged with the "OpenID Provider" or "Authorization Server", front and especially  **back** channel.
Also know the content and state (expired?) of the tokens an

[2018-07-16 08:28] BrunoVernay commented on #231
Also some related pieces are in https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/OAuth2AuthHandlerImpl.java

[2018-07-16 10:05] Mr-hedy opened #233 "authenticate options"
### Version

* vert.x core:3.5.3
* vert.x auth:3.5.3

### Context
JWTAuthProviderImpl.authenticate(JsonObject authInfo, Handler<AsyncResult<User>> resultHandler);
unused authInfo.getJsonObject("options")。

[2018-07-16 13:57] pmlopes opened #234 "AuthInfo should be a DataObject"
Currently the `authInfo` data passed to the providers is a plain Json object, this can cause typpo bugs or have undocumented fields.

see: https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-common/src/main/java/io/vertx/ext/auth/AuthProvider.java

The goal would be to replace the JSON object with a DataObject that would allows static typing and validation.

[2018-07-24 11:55] pmlopes commented on #223
Fixed by #236

[2018-07-24 11:55] #223 closed

[2018-07-24 13:15] pmlopes commented on #208
Thanks, there has been a large refactoring on this code and the check have been removed

[2018-07-24 13:15] #208 closed

[2018-07-25 16:19] abccbaandy opened #237 "The JWT auth provider document typo?"
### Version

* vert.x core: 3.5.3
* vert.x auth: 3.5.3

### Context

Stateless API servers, very well suited for **simple** page applications.

I have no idea what "simple page applications" is(I even google it, but no luck), maybe it's **single** page applications?

### Do you have a reproducer?

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jwt/src/main/asciidoc/index.adoc

[2018-07-25 18:09] #237 closed

[2018-07-25 18:11] pmlopes commented on #187
There has been a big refactoring on this code and I believe it has been addressed. If that's not the case please re-open.

[2018-07-25 18:11] #187 closed

[2018-07-30 07:59] adpande opened #238 "Support for KeyCloak Multi Tenancy with KeycloakConfigResolver"
### Version

* vert.x core: 3.5.3
* vert.x auth: 3.5.3

### Context

We are implementing multi-tenancy using Keycloak where each tenant will have its own realm. The tenant and its corresponding Keycloak realm will be identified using URL subdomain. Currently vertx Keycloak support authenticating against one single realm only.

It would be really good if we can give some handler just like KeycloakC

[2018-07-30 08:32] pmlopes commented on #238
I think you're looking for:

https://vertx.io/docs/vertx-web/java/#_virtualhost_handler

You create a OAuth2Handler for each tenant, the for each tenant, say `tenant1, ... tenantN`:

[code]

[2018-07-30 18:16] adpande commented on #238
Hi @pmlopes, I think this will not work as tenents register by themselves and I do not know at start time which tenants will come.

[2018-07-30 19:25] pmlopes commented on #238
In that case you need to write an handler like the code you shown:

[code]

To make things more robust, you probably need to have a local map `sharedData()` that maps your tenants to the oauth2 handlers, so they are cached and some routes/config to add/remove/reconfigure the local map.

[2018-07-31 03:18] adpande commented on #238
Ohh.. This is awesome! I will try this out!

[2018-08-01 11:40] adpande commented on #238
Hi @pmlopes,
I tried this and it works! The only issue I am facing is: How to get user object in call back?
In the callback route it is giving me the code (I think JWT) but how to decode and get User object and principle from it?
`
state: /ui/get
session_state: 93859cab-9664-4a29-a27d-fdb13a8dfebd
code: eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..5z9qteIogtGKSJ_V7SeAwg.Y-iKTRX_7JBRlxhht3Z-cFm

[2018-08-01 14:53] adpande commented on #238
I have now removed the custom callback handler that I have written. I am now just passing the route to the callback like:
[code]
It is working but, I have still not able to figure out how will I get the user and principle objects.

Thanks!

[2018-08-03 08:40] adpande commented on #238
Hi This issue is solved. Actually I was making the mistake of writing own callback. I am able to get the user from ctx now. Thanks @pmlopes for the help!

[2018-08-13 13:27] rgmz opened #239 "Expose JDBCUser constructor outside of package"
I would like to allow authentication via both JDBC auth and OpenID Connect (OAuth2 auth), but use JDBC auth for authorization regardless of the initial auth provider.

i.e Authenticate via OpenID Connect -> get username -> create JDBC session from username

Presently this is not possible as [JDBCUser is package-private](https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jdbc/src/main/jav

[2018-08-21 12:09] vtutrinov opened #240 "What for method throws unnecessary runtime exception?"
**AccessToken** interface of the vert.x-auth-oauth2 library has a method named **expired**. Its implementation (OAuth2TokenImpl) delegates token expiration checking to JWT.

I want to check token expiration and refresh it if necessary, but JWT throws a RuntimeException instead of returning **true** if now() time is more then expiration time.

https://github.com/vert-x3/vertx-auth/blob/de01ad72cae9

[2018-08-22 08:52] artyomsafronov opened #241 "OAuth2AuthHandler does not introspect a parsed token"
### Version

* vert.x core: 3.5.3
* vert.x auth: 3.5.3

### Context

I see that OAuth2AuthHandler does not analyze any information in a decoded token (for example, expiration time). So it allows access to protected resources with any valid token.

### Steps to reproduce

1. Set up OAuth2AuthHandler with correct configuration.
2. Make a request to a protected resource with a valid but expired token

[2018-08-28 10:22] vanhaegendorenb opened #242 "Keycloak bearer-only access type: OAuth2AuthHandlerImpl throws 500 instead of 401 when Authorization header is absent"
### Version

* vert.x core: 3.5.3
* vert.x auth: 3.5.3

### Context

Consider a client that wants to access a protected resource offered by a service that implements the bearer-only access type. Keycloak (https://www.keycloak.org/docs/3.1/authorization_services/topics/enforcer/keycloak-enforcement-bearer.html) is used as an auth provider that offers the client an access token after successful auth

[2018-09-10 18:17] #238 closed

[2018-09-14 13:12] steven-aerts commented on #241
We are running into this one too.
Can somebody confirm it is expected behaviour that jwt token expiration is not validated?

We are confused about this as other jwt related auth handlers seem to do so: https://vertx.io/docs/vertx-auth-jwt/java/#_authenticating_authn

Thanks,

   Steven

[2018-09-18 08:08] pmlopes commented on #242
@vanhaegendorenb A fix is proposed in the `vertx-web` repo. Tests show that when there are valid tokens they get handled by the JWT config of the oauth2 server on any other case, it always returns 401 as expected. Would you mind to give it a review?

[2018-09-19 12:37] vanhaegendorenb commented on #242
Sure @pmlopes PR looks fine, one remark though regarding the token == null error handling for bearer-only case: vertx-web should return a HTTP 401.

[2018-09-20 19:54] tsegismont commented on #239
How about building your own `AuthProvider`? You could inspire from [chained auth](https://github.com/vert-x3/vertx-auth/commit/a3eba6a42fe132cc9677c2529c7d603a83d7f52f)

By the way @pmlopes , it seems chained auth is not documented. Is there an issue for tracking this?

[2018-09-21 12:30] #242 closed

[2018-09-25 13:27] rgmz commented on #239
Interesting — I was not aware of ChainedAuth, but I will look into that, thanks!

(Keeping this open so pmlopes can respond to your question.)

[2018-09-26 10:02] #241 closed

[2018-09-28 16:27] rgmz commented on #240
The intention is evidently to provide the reason _why_ the JWT is expired, however, I agree that it's awkward.

JWTAuthProviderImpl has this strange block which will never return because `isExpired()` cannot return true:
https://github.com/vert-x3/vertx-auth/blob/a6c7e40e561c52eea68f0e2acada269fa94f7b34/vertx-auth-jwt/src/main/java/io/vertx/ext/auth/jwt/impl/JWTAuthProviderImpl.java#L124-L127

Ins

[2018-09-28 17:39] rgmz commented on #234
I'll create a POC for this.

Two thoughts:
1. This would require a breaking change (`authenticate(authInfo: JsonObject...)` and `authenticate(authInfo: DataObject...)` would be ambigious). Presumably why this was changed to 4.0?
2. Implementing https://github.com/vert-x3/vertx-codegen/pull/211 would make handling the DataObjects for modules that don't use camelCase (e.g. JWT) less painful. :stuck_

[2018-09-29 01:13] rgmz commented on #234
@pmlopes Here's a rudimentary implementation of AuthInfo as a DataObject: https://github.com/rgmz/vertx-auth/commit/093c98f414606f69266b457fefc0e616c57a3070

Missing additional tests and a few inner classes are still being passed JsonObject from the initial AuthInfo (namely [`OAuth2TokenImpl`](https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth

[2018-10-05 02:24] castx1981 opened #244 "KeycloakHelper parseToken function does not decode properly"
Here is the code snippet:
`String decoded = new String(Base64.getDecoder().decode(parts[1]), "UTF-8");`

it should be Base64.getUrlDecoder()

[2018-10-06 07:29] vietj opened #245 "Move Keycloak integration test to the verify phase"
This prevents running unit tests, the test involving Keycloak (via Docker) should be moved to the integration phase as an IT test.

In addition this should be documented in the README file of the project with the command line to use to run the Docker container, for instance like in the https://github.com/vert-x3/vertx-rabbitmq-client/blob/master/README.md file.

[2018-10-06 07:32] vietj opened #246 "Make OAuth2Auth extend directly AuthProvider"
Currently `OAuth2Auth` inherits `AuthProvider` via the intermediate `AuthProviderInternal` interface. `OAuth2Auth` should directly extend it and `AuthProviderInternal` should be rather only implemented by `OAuth2AuthProviderImpl`. Code relying on this should use the `instanceof` operator to check when the provider is actually internal and make a cast (which is likely the case already).

[2018-10-06 07:38] #246 closed

[2018-10-15 12:45] rraumberger opened #249 "OAuth2AuthHandlerImpl#opaqueAccessToken() throws ClassCastException"
### Version

* vertx-auth-oauth2: 3.5.3, 3.5.4

### Context

After upgrading to vertx-auth-oauth2 3.5.4 (from 3.5.2) the below snippet started to fail.
We use a more sophisticated version, but the essential parts are

    OAuth2AuthHandlerImpl.parseCredentials(routingContext, res -> {
                AccessToken accessToken = (AccessToken) routingContext.user();
                // Some authenticat

[2018-10-18 12:44] pmlopes commented on #249
@rraumberger could you check if the current master still suffers from this? There has been a huge refactoring to the oauth code and we're about to start the 3.6 release cycle.

[2018-10-18 13:39] rraumberger commented on #249
@pmlopes this issue is not reproducible with the current 3.6.0-SNAPSHOT version and it works as expected.

[2018-10-18 13:39] #249 closed

[2018-10-29 10:40] bauchpinsel opened #250 "Exception handler in OAuth2API is called multiple times"
### Version

* vert.x core: 3.5.4
* vert.x auth: 3.5.4

### Context

The exception handler at io.vertx.ext.auth.oauth2.impl.OAuth2API:108 is maybe called multiple times, resulting in a variety of errors. This happens for example when the verticle is being shutdown while the process of authentication is ongoing. The client.close() in line 110 is causing "Client already closed", because the client w

[2018-11-04 10:32] rogelio-o opened #251 "HashStrategy as common utils"
Currently, the hash strategies are implemented as JDBCHashStrategy in the vertx-auth-jdbc artifact. I'd be helpful move this to artifact vertx-auth-common as HashStrategy because it's also used in vertx-auth-mongo (where it has been copied) and it could be used in vertx-auth-jwt + custom user adding (or other combination which implies user adding).

[2019-01-08 22:39] sfitts opened #253 "[OAuth2] Recently added logging is too verbose"
### Version

* vert.x core: 3.6.2
* vert.x auth oauth2: 3.6.2

### Context

The logging produced by the OAuth2 code is extremely verbose (info level logs every response created and every URI accessed for example).  It appears that most of this was added in https://github.com/vert-x3/vertx-auth/commit/05735addae6fc4f0a9b7445eba88f3b16af0ab5c (for context).

I know this is subjective, but IMO just a

[2019-01-09 16:49] pmlopes commented on #253
@sfitts I think we can lower it as you suggested. Can you make a pull request for it?

[2019-01-09 18:00] sfitts commented on #253
I'll see if I can put one together later this week.

[2019-01-11 14:24] neuneuraxis opened #254 "io.vertx.ext.auth.jdbc.JDBCAuth use reserved word in postgres"
I use io.vertx.ext.auth.jdbc.JDBCAuth with a database postgres (v10) . The default query for authenticate is
https://github.com/vert-x3/vertx-auth/blob/a79586d8ffe17ff6ca180ae32fa910f1034d8153/vertx-auth-jdbc/src/main/java/io/vertx/ext/auth/jdbc/JDBCAuth.java#L43
But in postgres «user» is a reserved word and the query end in error
`org.postgresql.util.PSQLException: ERREUR: la colonne « password »

[2019-01-11 21:47] pmlopes commented on #254
We could quote the table name making it not a reserved word no?

[2019-01-12 08:01] tsegismont commented on #254
@pmlopes we could, but it would still be a pita for users querying from the database shell.

From my perspective, it would be fine to change the default user table name as most users are probably already overriding the default query (for the reason described above).

[2019-01-25 10:42] MetalMiner opened #258 "Broken Base64 OAuth2 AccessToken in KeycloakHelper"
### Version

* vert.x core: <= 4.6.2
* vert.x auth: <= 4.6.2

### Context

KeycloakHelper method `static JsonObject parseToken(String token)` converts like:
[code]
The method `Base64.getDecoder().decode(parts[1])` looks like:
[code]
The codecs are **different**. This does work for most characters since the encodings have pretty much in common, but fails in special cases.

### Extra
You could use `

[2019-02-06 14:05] bfreuden opened #259 "No role/permissions with Shiro LDAP?"
### Version

* vert.x core: 3.6.0
* vert.x shiro auth: 3.6.0

### Context

Unless I am failing to understand the Shiro-based LDAP feature, it seems to me that the following statement of the Vert.x doc is incorrect:

See: https://vertx.io/docs/vertx-auth-shiro/java/#_the_shiro_ldap_auth_provider

Indeed it seems that Shiro does not come with any role/permission implementation in the LDAP realm.
The

[2019-02-06 17:31] bfreuden commented on #259
In case I'm on the right track, I've discovered that Shiro is allowing to delegate the role/permission resolution to a RolePermissionResolver object.

With +12 lines in io.vertx.ext.auth.shiro.impl.LDAPAuthProvider and a new simple class (+50 lines) delegating the matching logic to Shiro's WildcardPermission, it is possible to get the following working (in the io.vertx.example.web.auth.Server clas

[2019-02-06 17:49] bfreuden commented on #259
Just realizing that I am wrong stating (above):

Indeed, everything is becoming possible when you read the Vert.x doc properly (I'm sorry), especially:
https://vertx.io/docs/vertx-auth-shiro/java/#_using_another_shiro_realm

However providing the realm deprives Vert.x users from the Vert.x (configuration) magic, and forces them to dive into Shiro.

[2019-02-07 17:08] artyomsafronov opened #260 "OAuth2AuthHandlerImpl security is weak"
### Version

* vert.x core: 3.6.3
* vert.x auth: 3.6.3

### Context

I encountered that **OAuth2AuthHandlerImpl** only checks if token is expired. It even does not check if user is really exists on authentication server. For example, I can easily get token from another authentication server to get access to my services. **OAuth2AuthHandlerImpl** interacts with authentication server only when user

[2019-02-14 20:46] paninics opened #262 "io.reactivex.ext.auth.VertxContextPRNG does not have nextBytes()"
### Version

* vert.x core: 3.6.3
* vert.x auth: 3.6.3

### Context
The interface `io.vertx.ext.auth.VertxContextPRNG` has `nextBytes()` but it's omitted in the auto generated `reactivex` package since this method is tagged to be ignored. However, if one looks at `io.reactivex.ext.auth.VertxContextPRNG.nextString()` method, it eventually calls `io.vertx.ext.auth.VertxContextPRNG.nextBytes()`. Henc

[2019-02-15 10:20] pmlopes commented on #262
This was due to a limitation on codegen, perhaps with the new code (on codegen) this will be valid or we can tag the method to be allowed using the new annotation.

[2019-02-15 14:23] pmlopes commented on #259
@bfreuden would you be interested in improving the ldap code? I'm no expert on this matter so if you can make it better, pull requests are welcome!

[2019-02-22 17:14] bfreuden commented on #259
@pmlopes yes I might be interested to do so.

I'm no ldap expert neither but it seems the consensus (read here and there on stackoverflow and confirmed by a devops friend) is ldap is mostly used for authn, sometimes used to assign application roles to users, but it is very unusual to use it to store application permissions to roles.

Shiro allows to do so by creating a security manager containing

[2019-03-01 09:52] pmlopes commented on #253
Was fixed on 3.6.3

[2019-03-01 09:52] #253 closed

[2019-03-04 17:24] pendula95 opened #266 "Add possibility to load cert from pem directly"
### Version

* vert.x core: 3.6.3
* vert.x auth: 3.6.3

### Context

Add possibility to load cert public/private via pem file located in class path instead of keeping it in source code.

### Idea behind:

We wanted to add possibility of dynamic creation and import of cert to JWT Auth. As with current options it is only possible to keep the public and private key in source code. We want to avoid th

[2019-03-05 16:44] tsegismont opened #267 "OpenIDCDiscoveryTest failure"
Microsoft, Google and Salesforce tests all log an unhandled exception `java.lang.IllegalArgumentException: Configuration missing. You need to specify [clientId]` then fail with timeout.

[2019-03-06 17:00] artyomsafronov commented on #260
Can anybody answer me?

[2019-03-06 19:42] pmlopes commented on #260
Hi @artyomsafronov sorry for the delay, the trade off is validating tokens if in JWT format instead of always introspect was to avoid overloading the OAuth2 server.

Perhaps we should make this check optional and disabled by default. So if a user is willing to trust the tokens the flip the flag to do local checks, otherwise always delegate to the server.

The mode where we locally check tokens is

[2019-03-08 11:35] #267 closed

[2019-03-08 11:36] #165 closed

[2019-03-10 00:41] javathought opened #269 "OAuth2UserImpl.java : check if token is expired in seconds, not milliseconds"
### Version

* vert.x core: 3.6.3
* vert.x auth: 3.6.3

### Context

I encountered a problem with Strava tokens :
expires_at is in seconds and OAuth2UserImpl::expired function compares it with current time in milliseconds

[code]

### Do you have a reproducer?
No

### Extra

In Strava documentation, expires_at is specified in seconds

http://developers.strava.com/docs/authentication/#token-exchang

[2019-03-10 07:43] pmlopes opened #270 "implement {tenant} placeholder"
Azure and others support multi tenancy at the url level. the oauth2 should support this:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code#send-the-sign-in-request

https://groups.google.com/forum/m/#!topic/vertx/W7LveJHhuDc

[2019-03-10 09:30] kou-yi opened #271 "I want to use my own AuthenticationToken"
### Version

* vert.x core:3.6.3
* vert.x auth:shiro auth+jwt auth

### Context

I want to use my own AuthenticationToken for JWT auth logining

[2019-03-10 12:31] pmlopes commented on #271
I don't understand the issue could you explain it in more detail?

[2019-03-11 12:19] pmlopes commented on #269
`expires_at` is not a spec'ed field and is used internally, so it seems that `strava` diverged from the spec. In order to make this easier we could handle the field seconds too.

[2019-03-13 02:27] kou-yi commented on #271
I need to use two ways to authenticate my account. First, I will call the restful API with username and password and the API returns a jwt token. Then I will request other APIs with tokens. I derived Realm and AuthenticationToken, and I want to check the token in my own Realm. But the shiro auth of vertx only supports UsernameAndPasswordToken.

[2019-03-17 05:20] lukehutch opened #272 "Authentication, authorization and session backing store need to be separated"
### Version

* vert.x core: 4.0-SNAPSHOT
* vert.x auth: 4.0-SNAPSHOT

### Context

As far as I can tell, there are numerous limitations to the current authentication, authorization and session management classes in Vertx:

* Currently OAuth2 support (I'll use `GoogleAuth` as the specific example) is ephemeral, in the sense that it can be stored in the local session, but there's no way to directly

[2019-03-18 15:38] pmlopes commented on #272
Hi @lukehutch I agree with much of what you wrote, could you draft some basic interfaces to have the idea how the whole API would work/look? The main concern at the moment is that with 4.0 we can break and add new stuff, but I'd like to have a "easy" upgrade path too...

[2019-03-18 15:40] pmlopes commented on #272
[code]

How would you plug the storage? authZ to this?

[2019-03-18 21:32] lukehutch commented on #272
I would start with

[code]

Then I would create separate authentication and authorization interfaces

[code]

The `authorities` field should be a map, e.g. `{ "authorities": { "superuser": true } }`

I probably got some things wrong above, because I'm still learning the async handler model of Vert.x, and I'm still getting my head around how authZ and authN work in Vert.x, but it might provide a st

[2019-03-19 07:39] lukehutch opened #273 "Google OAuth2 implementation does not have logout path"
### Version

* vert.x core: 4.0-SNAPSHOT
* vert.x auth: 4.0-SNAPSHOT

### Context

Logout fails with Google OAuth2 implementation, because `OAuth2ClientOptions::getLogoutPath` returns null, which causes a failure at `OAuth2TokenImpl` line 286 (in the `getApi().fetch()` call, within the `logout` method).

The logout URL is described in this post: https://stackoverflow.com/a/23245957/3950982

(the i

[2019-03-19 07:51] lukehutch commented on #272
This is what I have so far, as far as an implementation that tries to work with the current framework. It is a monstrosity...

https://pastebin.com/054RQ7ym

It is lacking a few things, e.g. the ability to add or revoke authorities, but it basically works.

[2019-03-19 11:43] lukehutch commented on #272
For contrast, this is how I had to solve the problem -- I couldn't use the current RBAC framework to add caching, because there is no access to the current session, so I had to build my own caching handlers from scratch.

https://pastebin.com/xxhUCuPb

[2019-03-20 00:58] lukehutch opened #274 "Session needs a user id field, and SessionStore needs ability to invalidate/modify sessions by user id"
### Version

* vert.x core: 4.0-SNAPSHOT
* vert.x auth: 4.0-SNAPSHOT

### Context

For security, Vertx needs the ability to invalidate all sessions for a given user id, and to write a given key/value pair to the data for all sessions with a given user id (to allow permissions to be granted or revoked instantly across all sessions). This should work across either a local session store or a clustere

[2019-03-20 16:05] frx08 opened #275 "OpenIDConnectAuth discover and flow OAuth2FlowType.AUTH_JWT are not compatible"
### Version

* vert.x core: 3.6.3
* vert.x auth: 3.6.3

### Context

OpenIDConnectAuth discover and flow OAuth2FlowType.AUTH_JWT are not compatible
because OpenIDConnectAuth .discover() lazy load the jwk configuration with .loadJWK()
while AuthJWTImpl requires pubSecKeys configured in constructor, I cannot add a placeholder configuration in the pubSecKeys because than the validation for the JWT to

[2019-03-22 10:10] UkonnRa opened #276 "Why Mongo Auth not to separate User-Role collection and Role-Permission collection?"
### Version

* vert.x core: 3.6.3
* vert.x auth: 3.6.3

### Context

In Mongo-Auth, you can only set *ONE* collection which should contain user, role and permission field together. And in your test examples, the {user, role} and {role, premission} are combine together. I wonder is this an ideal design? Why can't I separate {user, role} and {role, premission} to two separate collections, just like

[2019-03-24 04:19] vinscom opened #277 "Keycloak 4.8.3 Open ID Connect does not work because refresh token decoding fail"
### Version

* vert.x auth 3.6.3:

### Context

I am using Keycloak 4.8.3. As part of integration with Keycloak using Auth Code flow. I get error "Algorithm not supported" from JWT.java [Line 280] while decoding "refresh_token" Auth2UserImpl [Line 72]. This is happening because in Keycloak (https://issues.jboss.org/browse/KEYCLOAK-4622), refresh_token specifically uses HS256 and where as access_to

[2019-03-25 14:04] pmlopes commented on #277
The best is to disable parsing of the refresh token.

[2019-03-25 14:20] pmlopes commented on #275
JWT flow is a Google specific flow for app to app communication. This is not compatible with OpenID Connect.

This flow is described here:

https://developers.google.com/identity/protocols/OAuth2ServiceAccount

[2019-03-25 17:41] frx08 commented on #275
Thank you @pmlopes in my scenario I'm integrating ADFS / AZURE where it is possible to implement a JWT FLOW and it is also OpenID 'compliant' (probably it is a edge case)
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-on-behalf-of-flow

[2019-03-26 16:50] vinscom commented on #272
I think AuthN/AuthZ, Session and User Profile are three independent areas.
As part of Auth flow we are authenticating user identity and in process we may get additional information from authenticating system accessible from User object.
But user object should not be considered as user profile. And if application has need to maintain user profile, then application has to maintain user profile on it

[2019-03-26 17:58] lukehutch commented on #272
@vinscom sure, but there are still many changes that need to be made to the current system to make it more flexible. For example, `vertx-auth-mongodb` backs its sessions directly in MongoDB, but that backend is not available to the OAuth2 providers if you want to use them to cache the OpenID Connect metadata or permissions/roles, for example.

My main point is that the whole system needs to be mod

[2019-04-04 11:10] pmlopes commented on #277
Fixed by: https://github.com/vert-x3/vertx-auth/pull/278

[2019-04-04 11:10] #277 closed

[2019-04-04 11:15] pmlopes commented on #275
@frx08 I didn't know about this Azure feature. So it seems that for azure this is also possible but it has a couple of extra requirements: `requested_token_use`, `scope` and even use a different host `https://graph.windows.net`. I'll mark this issue as an improvement as we might be able to get this to work too...

[2019-04-10 11:20] gofabian opened #279 "OpenIDConnectAuth discover is missing encryption ciphers from RFC7518"
### Version

* vert.x core: 3.7.0
* vert.x auth: 3.7.0

### Context

When discovering OpenID Connect options from `<url>/.well-known/openid-configuration` Vert.x will read the `alg` attribute from the `jwks_uri`. Here Vert.x only supports the signing ciphers for JWS:

https://tools.ietf.org/html/rfc7518#appendix-A.1
HS256
HS384
HS512
RS256
RS384
RS512
ES256
ES384
ES512
PS256
PS384
PS512

but not t

[2019-04-12 11:53] pmlopes commented on #279
@gofabian yes i agree we should not fail and give a warning that the missing alg will not be available.

[2019-05-01 15:04] saumiktewari commented on #276
@CasterKKK
I too have the same problem. In fact, [here](https://vertx.io/docs/vertx-auth-mongo/kotlin/) their documentation says

"Although Vert.x auth itself does not mandate any specific model of permissions (they are just opaque strings), this implementation assumes a familiar user/role/permission model, where a user can have zero or more roles and a role can have zero or more permissions."

Bu

[2019-05-01 15:07] CasterKKK commented on #276
@saumiktewari Finally, I just implement `AbstractUser` and `AuthProvider` by myself, it's not difficult.

[2019-06-04 09:50] stephanebastian commented on #274
Hi Luke,

I do agree that Vertx should provide a way to invalidate all sessions of a specific user. We came across this issue several times in different projects built with Vertx. The workaround was to add the method SessionStore.deleteByUserId(xyz, Handler<AsyncResult<Set<String>> handler) in our own session store (where the Set<String> is the list of Session Ids that have been deleted).
However,

[2019-06-04 10:25] stephanebastian opened #281 "Support path variables in AuthHandler.addAuthority()"
In vertx, to secure a route you can currently write something like this:

`
// check that the user has the permission to delete product
router.delete("/products/:productId")
.handler(RedirectAuthHandler.create(authProvider).addAuthority("product:delete"))
`

However, sometimes I really want to check that the user has the permission to delete a specific productId and would like to write something l

[2019-06-11 15:31] chris-brace opened #282 "Refreshing AuthProvider"
### Version

* vert.x core: 3.7.1
* vert.x auth: 3.7.1

---

I use a JWKS provided by Auth0 to authenticate REST endpoints. The well-known keys are downloaded at runtime. I've been digging around the vertx-auth docs and the code and I can't figure out how I would re-download the keys after a time interval in case they have changed.

If this isn't possible that would be nice to know, though Auth0's

[2019-06-27 13:53] impolitepanda opened #285 "JWTAuth - Manage keys rotation"
### Version

* vert.x core: 3.7.1
* vert.x auth: 3.7.1

### Context

Hello!
I have a need where my JWT keypair have to be replaced at regular time intervals. The problem here is that requires a restart of all my verticles as it seemes like there is no way to dynamically change it at runtime.

### Do you have a reproducer?

* No reproducer

### Extra

* This enhancement was created following this t

[2019-07-02 17:18] mhp0rtal opened #286 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => vertx-auth-jdbc/src/main/java/io/vertx/ext/auth/jdbc/impl/PBKDF2Strategy.java: Line number => 22: API name => SecretKeyFactory:Operation on object of type javax.crypto.SecretKeyFactory object not completed. Expected call to translateKey, generateSecret<BR> File name => vertx-auth-jdbc/src/main/java/io/vertx/ext/auth/jdbc/impl

[2019-07-19 07:51] sklakegg opened #288 "OAUTH 2.0 token parsing with Client flow"
### Version

* vert.x core: 3.7.1
* vert.x auth: 3.7.1

Parsing AT from github using OAUTH 2.0 CLIENT flow. The result comes as {"result":{"access_token": ....

However, seems like the parsing methods used in the library expect the result json without the result field so it would look like this: {"access_token"

### Do you have a reproducer?

To get around I have to create a new OAuth2TokenImpl af

[2019-08-18 07:05] lizhongyue248 opened #289 "OAuth2TokenImpl scope's value is List causing ClassCastException"
### Version

* vert.x core:3.8.0
* vert.x auth:3.8.0

### Context

Hi, in our oauth authorization server, the `scope` is List. We build authorization server by spring-security-oauth2. This is his default implementation.

In vert.x Oauth, use `authenticate` and `introspectToken` method, I will get a ClassCastException. I find this question in the source code.

[source](https://github.com/vert-x3/ve

[2019-09-03 16:21] lusoalex commented on #289
Hi @lizhongyue248, I was searching some official documentation, but the only one I found is the token introspection [here](https://tools.ietf.org/html/rfc7662#section-2.2) which define scope as a string containing space-seperated list of scopes.

So I am wondering if the fix should be done on the spring security side, what's your opinion?

By the way, I am looking how to handle the scope currently

[2019-09-07 11:50] pmlopes commented on #289
We can try to add an exception for the scope array. Scopes are not a jwt feature, they are an oauth2, so they are handled there.

[2019-09-11 21:14] smil2k opened #293 "Azure B2C requires a parameter for the ".well-known" discovery address"
### Version

* vert.x core: latest
* vert.x auth: latest

### Context

I'm using AzureADAuth.discover to load the JWKs array.

Azure AD B2C requires the "profile" also as a query parameter like this:
https://bla.b2clogin.com/bla.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1_Simple

Unfortunately the configuration "site"
will get appended with ".well-known/openid-configuration" unco

[2019-09-12 09:48] pmlopes opened #294 "Decouple backend store from providers"
During the last F2F meeting it was discussed some improvements on storage based providers. The main idea is to create a new "abstract" provided that has no storage and have several implementations of the storage provider.

The existing `mongo-auth` and `jdbc-auth` would just be refactored to implement the storage part, so they could still be used in the future.

This would open the door for other

[2019-09-13 08:39] #270 closed

[2019-09-13 08:40] pmlopes commented on #279
Fixed by #280

[2019-09-13 08:40] #279 closed

[2019-09-13 08:47] pmlopes commented on #262
This issue has been fixed on codegen.

[2019-09-13 08:47] #262 closed

[2019-09-13 11:42] pmlopes commented on #174
This is a web issue and the feature to skip has been deprecated a while ago. The correct way is to create the right matching for the secure paths.

[2019-09-13 11:42] #174 closed

[2019-09-17 08:57] gaol opened #297 "Adding sha1 and sha256 hashing algorithm"
### Version

* vert.x core: master(4.0.0-SNAPSHOT)
* vert.x auth: master(4.0.0-SNAPSHOT)

### Context

[DKIM Signature Sign feature](https://github.com/vert-x3/vertx-mail-client/issues/102) in `vertx-mail-client` requires hashing algorithm: `sha1` and `sha256`. We have `sha512` hashing algorithm in `vertx-auth-common` already, so adding the missing ones would be straightforward and they can be sha

[2019-09-17 09:07] mohamnag commented on #282
I'm also interested in knowing a solution for this. Recently I used Spring Security version of Auth0 lib which just needs audience and issuer to be configured and everything else was managed by the lib. I would like to see an equivalent lib here too. In most of the cases I'm not going to issue tokens from same API and just want to verify signatures and don't want to include any keys in each of ser

[2019-09-17 09:22] gaol commented on #297
I will try to come up with a PR for this.

[2019-09-19 09:29] arnauddegiuli commented on #285
Duplicate of: https://github.com/vert-x3/vertx-auth/issues/282#issue-454760508

[2019-09-19 12:46] arnauddegiuli commented on #285
Find below a patch that I have done to make me able to refresh keys (I have override class in my project)... I haven't manage jwks case since I m not sure the patch is good enough...

Arnaud

[JWTAuthManageKeysrotation.zip](https://github.com/vert-x3/vertx-auth/files/3631203/JWTAuthManageKeysrotation.zip)

[2019-09-19 21:56] aleksandar78 opened #299 "500 Internal Server Error when failure handler enabled"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1
* vert.x auth: 3.8.1
* jdk ver 11
* kotlin 1.3

### Context

Hi,
I have REST API application with Vert.x. I've decided to use Keycloak as IAM Server.
My vert.x router configuration is based on the official documentation and examples.

[code]

Keycloak:
[code]

I've created users and some roles in Keycloak, just to see how it works.

I'm using P

[2019-09-19 23:18] aleksandar78 commented on #299
It was my fault.

I've created completely new project with a minimum of code. Everything worked fine, no 500 Internal Server Error.
There was one difference between 2 HttpVerticles.
In the first one, I've added a simple failure handler with a bug :)

[code]
Now everything works fine.

[2019-09-19 23:18] #299 closed

[2019-09-22 09:39] pgg opened #300 "jwt ignoreExpiration is ignored"
### Version
4.0.0-milestone3

### Context
Throws "Expired JWT token: exp <= now" but should be ignored:
[code]

[2019-09-23 10:09] pmlopes commented on #300
The usage of the API is not correct, the correct way would be:

The options are locked at the provider creation:

[code]

[2019-09-23 10:09] #300 closed

[2019-09-23 23:41] gaol commented on #297
Fixed by https://github.com/vert-x3/vertx-auth/pull/298, closed it.

[2019-09-23 23:41] #297 closed

[2019-09-24 09:07] pmlopes opened #301 "Support multi tenancy for JWT based providers"
JWT supports the `iss` claim that identifies the issuer, this claim must be checked and used to select the correct tenant.

[2019-10-09 07:39] pmlopes opened #308 "OAuth2 should have a hook to allow inspecting the TLS connection to IdP"
OAuth2 communicates with an IdP and allows full customization of the client, however there's no way currently to inspect the TLS connection, An hook should be added to allow verifying the connection by the user before any request is made to the server.

[2019-10-09 09:25] stephanebastian opened #309 "Split Authentification and Authorization"
This issue is an umbrella to talk about providing a better separation between Authentication and Authorization in Vertx

A RFC has been written to capture the main goals:
https://github.com/assembloo/vertx-auth/wiki/RFC_Auth_Improvements

Some discussions have already started on the google group:
https://groups.google.com/forum/#!topic/vertx-dev/TQTlzGq9HlY

And also on Gitter.

Here is a list of

[2019-10-09 12:50] pmlopes opened #310 "oauth2 secret client jwt support"
The provider is missing the jwt secret client auth support like here:

https://github.com/keycloak/keycloak/blob/502627f5904f23b1c0df281eae067f46ecd640f2/adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/authentication/JWTClientSecretCredentialsProvider.java#L24

[2019-10-10 03:38] Gogomoe opened #312 "The wrong SQL script to create role/permissions table in jdbc-auth"
I noticed that the primary key of `roles_perms` is `(role)` but not `(role, perm)` in [sql file](https://github.com/vert-x3/vertx-auth/blob/4.0.0-milestone3/vertx-auth-jdbc/src/main/resources/jdbc-auth-ddl.sql) and [docs](https://vertx.io/docs/vertx-auth-jdbc/java/#_jdbc_auth_provider_implementation).
[code]

A role can only correspond to one permission according the table structure. That would ma

[2019-10-10 09:34] stephanebastian opened #313 "Provides an implementation of AuthorizationProvider for each auth sub-projects"
This issue is a follow-up to #309
A PR will follow shortly

[2019-10-10 09:37] stephanebastian opened #314 "Investigate whether or not it's possible to replace all custom User implementations (JWTUser, JDBCUSer, etc.) with one UserImpl"
This would greatly simplify the existing code base.
Also, as a bonus we could probably make User a DataObject.
@pmlopes WDYT ?

The idea is to provide only one user that can be used by all Auth projects.

In term of API we should deprecate:

- public User clearCache();
==> equivalent to user.authorizations.clear();
- public User isAuthorized(String authority, Handler<AsyncResult<Boolean>> resultHa

[2019-10-10 13:03] stephanebastian opened #315 "Update AuthHandler to account for the new AuthorizationProvider"

[2019-10-11 15:31] stephanebastian commented on #315
Right now the AuthHandler take care of Authenticating and checking authorizations.
I suggest we add the interface AuthorizationHandler {
  AuthorizationHandler setAuthorization(Authorization authorization);
  AuthorizationHandler addAuthorizationProvider(AuthorizationProvider authorizationProvider);
  void authorize(RoutingContext context, Handler<AsyncResult<Void>> handler);
}

[2019-10-14 17:32] madmas opened #316 "Important JWT validation messages get lost in debug log level"
### Version

* vert.x core: 3.8.2
* vert.x auth: 3.8.2

### Context

I encountered an exception which looks suspicious while setting up a backend-service implemented with quarkus secured with the openid-connect extension which relies on vertx.

While the error persisted, I only got the message
[code]

After @sberyozkin  pointed me to the right code, I could find out by debugging that in fact my ke

[2019-10-14 18:12] pmlopes commented on #316
Yes we could improve the error messages (would you like to contribute them?) On the other hand look at the `leeway` configuration where we allow some time drifting while validating the token specifically for clock synchronization issues.

[2019-10-15 22:51] stuartwdouglas commented on #316
We can't log full stack traces for invalid tokens by default, it opens up an DOS vector where an attacker can send a massive amount of requests with expired tokens which will cause massive disk IO due to all the logging and potentially exhaust disk space.

[2019-10-16 07:56] gaol opened #317 "PubSecKeyOptions is missing toJson() method"
### Version

* vert.x core: 4.0.0-SNAPSHOT
* vert.x auth: 4.0.0-SNAPSHOT

### Context

As a common options used to specify `public/private keys`, `PubSecKeyOptions` is used by other components as well. In my case, it is used by the WIP [DKIMSignOptions](https://github.com/gaol/vertx-mail-client/blob/dkim-implementation/src/main/java/io/vertx/ext/mail/DKIMSignOptions.java) in `vertx-mail-client` co

[2019-10-16 13:52] madmas commented on #316
Well, "full stack" is not necessary, i think, but propagating the details from
https://github.com/vert-x3/vertx-auth/blob/master/vertx-jwt/src/main/java/io/vertx/ext/jwt/JWT.java#L235
https://github.com/vert-x3/vertx-auth/blob/master/vertx-jwt/src/main/java/io/vertx/ext/jwt/JWT.java#L243
https://github.com/vert-x3/vertx-auth/blob/master/vertx-jwt/src/main/java/io/vertx/ext/jwt/JWT.java#L251
so the

[2019-10-18 02:09] #317 closed

[2019-10-31 00:10] kthoms opened #319 "AbstractOAuth2Flow: Add possibility to supress putting client_id and client_secret to form"
### Version

* vert.x core: 3.8.3
* vert.x auth: 3.8.3

### Context

We tried to authenticate with OAuth via Client Credentials against [Billwerk](https://billwerk.com/). We got a BAD_REQUEST and found out that Billwerk does not accept the request when either `client_id` or `client_secret` are part of the form body.

The  [Billwerk authentication documentation](https://developer.billwerk.io/Docs/A

[2019-10-31 10:54] kthoms commented on #319
According to the [RFC-6749, 4.4.2](https://tools.ietf.org/html/rfc6749#section-4.4.2) the body only contains `grant_type` and optionally `scope`. No word about additional values.

[2019-11-02 21:30] aaronanderson commented on #319
I am using the Quarkus OIDC extension based on Vert.x and I am receiving a similar error with Okta as the OIDC IDP:

`{"error":"invalid_request","error_description":"Cannot supply multiple client credentials. Use one of the following: credentials in the Authorization header, credentials in the post body, or a client_assertion in the post body."}`

[2019-11-04 13:20] kthoms commented on #319
I have worked around by copying `io.vertx.ext.auth.oauth2.impl.flow.AbstractOAuth2Flow` and `io.vertx.ext.auth.oauth2.impl.flow.ClientImpl` into one custom class and avoid the form enrichment, and subclass `OAuth2AuthProviderImpl` to create the custom flow. Feels ugly, but works.

[2019-11-07 09:16] pmlopes commented on #319
@kthoms we would like to have a standards/spec compliant client, as you noticed we are not compliant with the RFC, I think we should mark this as a bug.

So from the link you pasted, in client credentials grant, we should not send the extra form

[2019-11-07 10:01] sberyozkin commented on #319
@pmlopes Hi Paulo, and please backmerge it to 3.8.x :-)

[2019-11-07 10:28] pmlopes commented on #319
I will once it's fixed ;)

[2019-11-22 08:44] stephanebastian opened #324 "Add a new provider to authenticate/authorize via a property file - currently done thru Shiro"

[2019-11-22 08:45] stephanebastian opened #325 "Add a new provider to authenticate via LDAP - currently done thru Shiro"

[2019-11-22 08:50] stephanebastian opened #326 "Add the ability to verify PermissionBasedAuthorization with WildcardBasedAuthorization and vice-versa"
### 4.0

* vert.x core:
* vert.x auth:

### Context

I encountered an exception which looks suspicious while ...

### Steps to reproduce
Authorization permission1 = PermissionBasedAuthorization.create("permission");
Authorization permission2 = WildcardPermissionBasedAuthorization.create("permission");
permission1.verify(permissions2) returns false, although true is expected
permission2.verify(perm

[2019-11-25 16:24] Alffrredo opened #330 "Shiro Version"
3.8.3 Version

* vert.x core:
* vert.x auth:
Please update version to latest shiro version
Thats required bu some services and version get conflict because of old version used in current vertx (1.2.6)

[2019-11-26 09:20] #326 closed

[2019-11-27 13:34] stephanebastian opened #331 "User.authorizations() doesn't currently keep track of the AuthorizationProvider that contributed authorizations"
### Version

* vert.x core: 4.0
* vert.x auth: 4.0

### Context

The method User.authorizations() currently returns a set of Authorizations. However, it doesn't allow to keep track of which AuthorizationProvider added Authorizations.
With Vertx 4, it'll be possible to support multiple AuthorizationProvider and it may be important to keep track of the relationship between Authroization -> Set<Autho

[2019-11-27 14:37] stephanebastian commented on #315
closed in favor of vert-x3/vertx-web#1467

[2019-11-27 14:37] #315 closed

[2019-11-27 14:46] pmlopes commented on #325
@stephanebastian, a second task to complete this would be to `deprecate` the shiro provider (just add the annotation everywhere) and update the documentation stating to use the new properties/ldap providers instead.

[2019-11-28 08:00] stephanebastian opened #333 "Deprecate the Shiro AuthProvider"
### Version

* vert.x core: 4.0
* vert.x auth: 4.0

### Context
In Vertx 4.0, two new Auth provider have been added:
- vertx-auth-properties to provide auth from a property file
- vertx-auth-ldap: to provide auth from a Ldap server

Therefore, the Shiro AuthProvider can be deprecated as ldap and property file were the main driver for it.

[2019-11-28 08:02] stephanebastian commented on #325
sure. I opened the issue #333 for it and will do a PR asap

[2019-11-28 13:13] sberyozkin commented on #319
@pmlopes Can you please try to find few mins to fix it ? We can't really interoperate with any OIDC IDP but Keycloak at the moment, thanks

[2019-11-28 13:18] sberyozkin opened #335 "OAuth2 site address with the trailing "/" causes the problem with Auth0"
Please see https://github.com/quarkusio/quarkus/issues/5829

If the site address end with "/" then there is a connection error, and if this trailing slash is removed then there is an issuer validation error.

Proposal: when building a discovery URL, check for a duplicate slash, but keep the original site URL and when auto-validating the issuer, check it against the original site URL with the forwa

[2019-11-28 13:18] sberyozkin commented on #335
@pmlopes Hi Paulo, please also fix it for 3.8.x

[2019-11-28 13:22] pmlopes commented on #319
@sberyozkin I've been already working on this, please review: https://github.com/vert-x3/vertx-auth/pull/336

[2019-11-28 13:43] #335 closed

[2019-11-28 13:54] sberyozkin commented on #335
@pmlopes Hey Paulo, that was super fast :-) but the fix is not correct, sorry, because the Auth0 issue validation will not work, Auth0 reports an issue with the trailing slash

[2019-11-28 13:56] #325 closed

[2019-11-28 13:56] #333 closed

[2019-11-28 13:58] #330 closed

[2019-11-28 14:00] pmlopes commented on #335
`Oauth2Options` `path` properties are expected to be HTTP paths which are expected to start with `/`. A special case is done when they do not start with slash and in that case are assumed to be a full URL and the `site` property is ignored totally.

[2019-11-28 14:04] sberyozkin commented on #335
@pmlopes Those `path` properties which are reported in the Quarkus issue are not relevant here, the user has just tried them to get things working.
The problem is that Auth0 reports an issuer with the trailing slash, irrespective of how one sets a site URL, with or without the slash.
So the fix is not complete, because now the auto-validation of the issuer will be skipped, see what I mean ?

[2019-11-28 14:05] pmlopes commented on #324
Fixed by https://github.com/vert-x3/vertx-auth/commit/1c65c1c4fbd8276333df8f8c80164450cf272c5f

[2019-11-28 14:05] #324 closed

[2019-11-28 14:26] sberyozkin commented on #335
@pmlopes Sorry I'm getting confused a bit, but it does look like the fix is not complete, the user has tried to set the site URL without a trailing slash and it caused an issue validation failure because Vertx Oauth2 compares the site URL against the issuer claim which happens to be the same as the site URL but with the trailing slash.
So it needs a minor tweak, compare with and without a trailing

[2019-11-28 14:35] pmlopes commented on #335
https://github.com/vert-x3/vertx-auth/commit/95f0d10e60055a5c46c924a6a09ea637bb570f75

[2019-12-03 09:04] michaelhunziker commented on #258
We are experiencing the same issues. As soon as a token contains a username with a special character e.g. "Joël" (containing special character UTF-8 HEX "c3 ab") we get the following error messages:

	at java.util.Base64$Decoder.decode0(Base64.java:714)
	at java.util.Base64$Decoder.decode(Base64.java:526)
	at java.util.Base64$Decoder.decode(Base64.java:549)
	at io.vertx.ext.auth.oauth2.KeycloakHel

[2019-12-04 18:48] #275 closed

[2019-12-05 10:15] UkonnRa commented on #335
Facing the same issue when using [ory hydra](https://github.com/ory/hydra), thanks for the quick update

[2019-12-05 12:31] pmlopes commented on #319
Fixed by #343

[2019-12-05 12:31] #319 closed

[2019-12-05 12:31] pmlopes commented on #314
Fixed by #343

[2019-12-05 12:31] #314 closed

[2019-12-05 12:31] pmlopes commented on #313
Fixed by #343

[2019-12-05 12:31] #313 closed

[2019-12-05 12:32] pmlopes commented on #282
Oauth2 auth can reload keys with jwkSet call. JWT auth will follow with reload of config soon.

[2019-12-05 14:33] pmlopes commented on #258
Fixed by: https://github.com/vert-x3/vertx-auth/commit/31d5e5a0f834f174ea121e604cbafeec2fa4fe6b

[2019-12-05 14:33] #258 closed

[2019-12-05 16:30] arnauddegiuli commented on #282
Top!
Thanks a lot.

Arnaud

Le jeu. 5 déc. 2019 à 13:32, Paulo Lopes <notifications@github.com> a
écrit :

[2019-12-10 22:42] sberyozkin opened #347 "JWK sets with the standard 'application/jwk-set+json' content type can not be processed"
Please see https://github.com/quarkusio/quarkus/issues/6087.
The user is trying to use Identity Server 4 and Vertx OAuth2 throws:
[code]

@pmlopes Hi Paulo, it should be a 5 mins fix :-)

[2019-12-11 14:12] #347 closed

[2019-12-11 14:52] sberyozkin commented on #347
@pmlopes super, thanks :-)

[2019-12-12 11:44] pmlopes commented on #281
This has been addressed on the new authorization API

[2019-12-12 11:44] #281 closed

[2019-12-12 11:45] pmlopes commented on #251
A new p-c-h compliant strategy is implemented on `common` which fixes this issue.

[2019-12-12 11:45] #251 closed

[2019-12-12 11:46] pmlopes commented on #309
All issues have been addressed

[2019-12-12 11:46] #309 closed

[2019-12-12 11:47] pmlopes commented on #183
Chain auth now only does authentication, for authorization the new API addresses this issue.

[2019-12-12 11:47] #183 closed

[2019-12-12 11:50] pmlopes commented on #119
Close to innactivity and the new API exposes both id tokens and user info endpoint.

[2019-12-12 11:50] #119 closed

[2019-12-12 11:52] pmlopes commented on #146
All data is now visible on the principal or attributes.

[2019-12-12 11:52] #146 closed

[2019-12-12 11:53] pmlopes commented on #149
Fixed on 0310d7e43aaa310714bee7c4695e9d9f5be285e7

[2019-12-12 11:53] #149 closed

[2019-12-12 11:55] pmlopes commented on #266
Fixed on 0310d7e43aaa310714bee7c4695e9d9f5be285e7

PEMs still need to be passed to a `PubSecKeyOptions` object because some extra metadata is required, but the file can just be loaded as is.

[2019-12-12 11:55] #266 closed

[2019-12-12 11:56] #171 closed

[2019-12-12 12:03] pmlopes commented on #164
Docs updated:

https://github.com/vert-x3/vertx-auth/commit/3d4eed4e1fa952b98887ab89e3b31e4ae8ed40f8
https://github.com/vert-x3/vertx-auth/commit/314aa2cd4ba7a09eae2d4f2622f3dc7f06742660

[2019-12-12 12:03] #164 closed

[2019-12-12 12:04] pmlopes commented on #201
Closing due to old API, please re-open if the current API is not enough.

[2019-12-12 12:04] #201 closed

[2019-12-12 12:05] #214 closed

[2019-12-12 12:06] pmlopes commented on #231
Code has been merged.

[2019-12-12 12:06] #231 closed

[2019-12-12 12:06] #233 closed

[2019-12-12 12:07] #239 closed

[2019-12-12 12:08] pmlopes commented on #244
Fixed by https://github.com/vert-x3/vertx-auth/commit/5bf60d8da3d5ec119f835d175591f4af6eb1a537

[2019-12-12 12:08] #244 closed

[2019-12-12 12:14] pmlopes commented on #254
Fix for the new SQL client https://github.com/vert-x3/vertx-auth/commit/02085c4bc85bbb72aefd5dab5f01880fdc411dfa
For the old JDBC use the override settings as it would break for non postgres users.

[2019-12-12 12:14] #254 closed

[2019-12-12 12:15] pmlopes commented on #259
Closing due to inactivity.

[2019-12-12 12:15] #259 closed

[2019-12-12 12:15] pmlopes commented on #310
It is supported using JWT_AUTH flow.

[2019-12-12 12:15] #310 closed

[2019-12-12 12:16] pmlopes commented on #331
This has been merged.

[2019-12-12 12:16] #331 closed

[2019-12-12 12:18] pmlopes commented on #213
OSGi metadata has been removed and will not be supported on 4.0

[2019-12-12 12:18] #213 closed

[2019-12-12 12:21] pmlopes commented on #271
authn and authz are now decoupled. Shiro is deprecated.

[2019-12-12 12:21] #271 closed

[2019-12-12 12:23] pmlopes commented on #272
Fixed by #309

[2019-12-12 12:23] #272 closed

[2019-12-12 12:26] pmlopes commented on #312
@stephanebastian could you verify this?

[2019-12-12 14:37] francoisprunier commented on #312
Hi @pmlopes,

I'm going to look into it.

[2019-12-12 15:32] francoisprunier commented on #312
@pmlopes I've created this PR: https://github.com/vert-x3/vertx-auth/pull/348

[2019-12-13 02:47] lukehutch commented on #309
Thanks for the work on this. Have the new APIs been documented yet?

[2019-12-13 08:01] pmlopes commented on #309
The basic concepts are in the asciidoc:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-common/src/main/asciidoc/index.adoc

Examples from the adoc can be found on:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-common/src/main/java/examples/AuthCommonExamples.java

And the same for each module. On vertx-web the same has been done, API upgrade + new docs

[2019-12-13 08:15] stephanebastian commented on #309
I'll be able to help on this over the week-end

just let me know at then of the day if you still need help on this

On 13/12/2019 09:01, Paulo Lopes wrote:

[2019-12-13 08:27] pmlopes commented on #309
@stephanebastian just go over the asciidocs and see if it needs more information. I might have been to light on the details ;-)

[2019-12-13 15:29] #312 closed

[2019-12-13 18:02] chris-brace commented on #282
@pmlopes thank you for the update! i'd forgotten about this issue! :)

[2019-12-13 22:59] lukehutch commented on #309
Nit: The API uses the US spelling "Authorization", but the docs use the British English spelling "Authorisation". Probably should change the doc spelling to match the API spelling.

[2019-12-14 06:44] pmlopes commented on #309
:+1: the original API was using the British spelling but I've moved it to American due to the fact that the terms authn/authz are more popular and only apply to us spelling.

@lukehutch are you willing to do a pull request?

[2019-12-14 07:25] lukehutch commented on #309
Submitted a PR.

[2019-12-14 08:33] stephanebastian commented on #309
Hi all,
I read this part this morning  https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-common/src/main/asciidoc/index.adoc and it looks good :+1:

I am wondering though if we should talk about the AuthorizationContext whose role is to glue together the User and other data relevant to perform the authorization (ie: ipaddress) ?
I am going to write a blurb about it and send a PR.

@luke

[2019-12-14 10:38] lukehutch commented on #309
@stephanebastian Unfortunately I'm really "out of the think of it" right now, I was up to my neck in all the auth{z|n} stuff back when I filed #272, but had to move on to other projects, and I'm swamped right now so probably won't have time to look closely at the new API or the documentation for a while. However if you do want to make sure the API is right before 4.0 is launched, it might be worth

[2019-12-15 00:11] sanyarnd opened #350 "Vert.x 4 SessionHandler is not invoking AuthHandler"

[2019-12-15 00:15] #350 closed

[2019-12-15 06:39] arniu opened #351 "`JWT#isExpired` is wired, which always returns `false`"
https://github.com/vert-x3/vertx-auth/blob/d763e466f3c55c9fdf21f21f4cd8f4d7e329b7f8/vertx-jwt/src/main/java/io/vertx/ext/jwt/JWT.java#L180

The returned `false` is useless.

How about to rename it to `void checkExpired` or return `true` instead of throwing exceptions?

[2019-12-15 08:25] stephanebastian commented on #309
@lukehutch Luke, I looked at #272 one more time and I believe that all issues can be addressed by the Authn / AuthZ improvements that are coming-up in 4.0

[2019-12-15 08:41] lukehutch commented on #309
@stephanebastian that's awesome, thanks for verifying! I appreciate everyone's work on this.

[2019-12-15 09:29] stephanebastian commented on #309
@pmlopes I've made a PR with some minor comments
@lukehutch I guess the 'moment of truth' will be when you use the new stuff and see if it works for you or is easier than it was before :smiley:  Hopefully I think we are in good shape.
Thanks,
all the best

[2019-12-17 11:39] pmlopes commented on #276
Fixed by #353

[2019-12-17 11:39] #276 closed

[2020-01-06 18:54] mklueh opened #354 "There is no request token for this page with TwitterAuth"
Hi there,

I´m running into this issue with the vertx TwitterAuth config:

is there anything wrong with the auth flow especially on twitter? It seems the **oauth/request**_token endpoint is entirely missing in the implementation.

[2020-01-07 19:27] pmlopes commented on #354
Hi @mklueh can you share a reproducer without the client id/secret you used?

[2020-01-08 17:45] mklueh commented on #354
Hi @plmopes

To retrieve the auth url, I do something like this

[code]

When I use GitHub for example as options everything works as expected

[code]

[2020-01-13 21:50] codepitbull opened #355 "RelayParty class broken"
### Questions

The class RelayParty (https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-webauthn/src/main/java/io/vertx/ext/auth/webauthn/RelayParty.java).

Has no public constructor and lacks a constructor taking a JsonObject (see WebAuthnInfo, which does it correctly).

### Version

4.0.0-SNAPSHOT

### Context

I ran into a genration issue while integrating WebAuthN with vertx-scala :)

[2020-01-15 08:37] #355 closed

[2020-01-21 14:57] mklueh commented on #354
Hi @pmlopes ,

could you please tell me if I´m doing something wrong or if the auth flow is flawed for Twitter in this library?

[2020-01-23 14:27] sberyozkin opened #357 "OAuth2ClientOptons.isUseBasicAuthorizationHeader is ignored now"
### Version

`3.8.5`

### Context

Quarkus user works with the OIDC server which does not recognize the Basic Auth header and as such the token acquisition request fails.

It has changed in `3.8.5` as part of [this merge](https://github.com/vert-x3/vertx-auth/commit/e8634fe31ba0ef0c565b097d0cb5d9141a9cd4e5#diff-8e01c0bbf990a94b92aed39f3af558d9).
It contained a good fix in that the authentication i

[2020-01-23 15:28] sberyozkin commented on #357
Hi Paulo, it may be not critical if the user confirms their OIDC server can accept Basic auth, which is a good news, hopefully, but yeah, a minor fix for 3.8.6 would not harm anyway :-) as there could be a number of legacy (or otherwise not supporting the basic auth) servers

[2020-01-23 19:14] jonathon-eastman opened #358 "OAuth2AuthHandler callback causes "Internal Server Error" with Oracle Identity Cloud"
### 3.8.4

* vert.x core:
* vert.x auth:

### Context

I trying to create a small web app that get the user's credentials using OAuth2 provided by the Oracle Identity Cloud Service.   Oracle uses three legged OAuth2 and also extends it with OpenID.   Using curl I was able to validate that everything works (Basically everything in my OAuth2ClientOptions is correct)   I've tried both using OAuth2 an

[2020-01-25 01:12] jonathon-eastman commented on #358
I've done more digging on my side.  I used HTTPToolkit and found that it received a 200 response code from the /oauth2/v1/authorize url but it never attempts to reach the /oauth2/v1/token url to get the access_token.  Not sure why.  It looks like it should try in the setupCallback method when it runs the authProvider.authenticate method.

Also as a side note, I dug deeper and looked at the OAuth2A

[2020-01-31 05:40] #289 closed

[2020-01-31 20:44] jponge opened #359 "Public / private key selection issues with JWT"
I am using a `JWTAuth` instance with public / private PEM keys as follows:

[code]

I am issuing JWT tokens as follows:

[code]

The code is from a service which exposes a HTTP API. Issuing tokens fails randomly with the following exception:

[code]

It seems like sometimes the public key is chosen instead of the private key.

Similarly I have a `JWTAuthHandler` in my API:

[code]

All requests th

[2020-02-05 07:42] zenios opened #362 "VertxContextPRNG should expose all next* methods. nextDouble, nextBoolean, nextFloat, nextGaussian, nextLong"
VertxContextPRNG exposes only
1. nextInt
2. nextBytes
3. nextString

It would be good to also expose other next methods of the random family

[2020-02-07 16:42] #362 closed

[2020-02-08 09:03] mklueh commented on #354
Had now time to look into it again and it seems that this implementation doesn´t make sense at all.

Twitter uses oAuth 1a as well as oAuth 2.0, this library is for oAuth 2.0 only but it´s using the Twitter oAuth 1a endpoints. See this implementation from vertx-auth

[code]

According to the Twitter documentation those are clearly 1a URLs

https://developer.twitter.com/en/docs/basics/authenticatio

[2020-02-13 10:31] bebsworthy commented on #354
I came to the same conclusion before coming here to search; it seems twitter OAuth2 is only for publicly accessible information and OAuth 1.0a for everything else. I've eventually used twitter4j.

[2020-02-13 15:52] pmlopes commented on #359
@jponge CI is not working correctly but master already includes this fix.

[2020-02-14 09:43] jponge commented on #359
I will test when snapshots are available

[2020-02-14 10:34] jponge commented on #359
Works for me now! 🎉

[2020-02-14 10:34] #359 closed

[2020-02-20 20:15] Pitambari opened #364 "ID Token Signature is not verified and any random json is returned as valid ID token"
Version: 3.8.4 and 3.9

Context: ID Token Signature is not verified and any random json is returned. ID token is expected to be a JWT as per OIDC spec. https://openid.net/specs/openid-connect-core-1_0.html#TokenResponse

If someone sent IDToken as a JsonObject and not as JWT, the library accepts JsonObject without validating the signature of the ID Token and treats this as a valid ID token. This i

[2020-02-25 22:29] LouizFC opened #365 "Infinite Redirects when "Authorization" header is not passed explicitly"
### Version

3.8.5

### Context

The `OAuth2AuthHandler` enters a redirect loop if the Bearer is not present and Sessions are enabled.

What happens:

1. User requests a protected route.
2. User is redirected to keycloak.
3. User is now (or was) authenticated, redirect user to callback route.
4. Redirect user to "state" route, usually step 1 route
5. Bearer not found, redirect user back to keycloa

[2020-02-26 06:13] pmlopes commented on #365
Thanks for the report, I'll investigate it.

[2020-02-26 10:04] jponge opened #366 "MongoAuthentication lacks insert method from MongoAuth"
The deprecated `MongoAuth` had an `insert` method to insert users into the database, but the new `MongoAuthentication` and `MongoAuthorization` interfaces lack this.

This is important to ensure a smooth transition to the newer interfaces.

[2020-03-10 15:20] mohamnag opened #369 "OAuth2AuthHandler created from OpenIDConnectAuth does not verify audience of JWT tokens"
### Version

Which version(s) did you encounter this bug ?

Vert.x 3.8.5 & Vert.x 4.0.0-milestone 4

### Context

While configuring an OAuth2Auth using OIDC and setting JWT options as following, the JWT options are not taken into consideration in `OAuth2AuthProviderImpl` when a JWT token is used for authentication.

[code]

neither audience nor the issuer set here are checked for (not even against

[2020-03-12 16:24] deen13 opened #372 "JWTOptionsConvertes is in conflict with the jwt rfc"
### Questions

The Vert.X JWTOptionsConvertes serializes the audience with "audiences" as key which is in conflict with the [rfc](https://tools.ietf.org/html/rfc7519#section-4.1.3).

### Version

3.8.5

### Context

I encountered this issue when implementing the authentication of my web interface. I've used the JWTOptions class to build the access tokens payload.

#### Login Interface
[code]

...t

[2020-03-13 14:18] deen13 commented on #372
The `JWTOptionsConvertes.expiresInSeconds` behaves the same

[2020-03-16 14:46] pmlopes commented on #366
Fixed by #368

[2020-03-16 14:46] #366 closed

[2020-03-16 20:31] pmlopes commented on #364
The PR linked to this issue ensures that decoded tokens are stored on a different area which is independent from the source of the token.

[2020-03-16 21:10] pmlopes commented on #369
Fixed by #370

[2020-03-16 21:10] #369 closed

[2020-03-16 21:59] Pitambari commented on #364
When is milestone 4.0 expected to be released? Could we have this fix released in current version 3.8.4 or 3.9? this is a critical security bug in the current version.

[2020-03-17 09:08] pmlopes commented on #364
3.9 is already planned to be released this week. The bug can be a security bug but it requires several things to happen before to make it critical imho.

1. your idp server must be suffering a MITM attack (which should already require a SSL break)
2. your idp does not emit the spec compliant json responses ("access_token" and "id_token" are json values instead of strings)

Anyway, I'm re-opening a

[2020-03-17 09:23] #364 closed

[2020-03-18 07:16] UkonnRa opened #375 "[OpenID Connect] Remove `token_introspection_endpoint` when using OIDC Discovery"
### Questions

As the [OIDC Spec](https://openid.net/specs/openid-connect-discovery-1_0.html), `token_introspection_endpoint` is not a valid field in `/.well-known/openid-configuration`

So [this line](https://github.com/vert-x3/vertx-auth/blob/8b02d4956a626a68a4f8cd5572dc40389fa844c8/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/providers/OpenIDConnectAuth.java#L89) should be removed,

[2020-03-18 08:29] pmlopes commented on #375
That's correct, introspection is a oauth2 feature.

[2020-03-18 08:36] #375 closed

[2020-03-18 09:11] UkonnRa opened #376 "[Introspection Response] `bearer` is not the only Access Token Type"
### Questions

As for [the OAuth2 Introspection Spec](https://tools.ietf.org/html/rfc7662#section-2.2) and [Access Token Spec](https://tools.ietf.org/html/rfc6749#section-7.1), `bearer` is not the only Access Token Type.

So [this assertion](https://github.com/vert-x3/vertx-auth/blob/7beee04d0dcf13c1b1ba30ac916646e777399812/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2AuthPr

[2020-03-18 13:40] pmlopes commented on #376
@UkonnRa thanks for noticing this. so if the response is: `access_token` or `refresh_token` should we validate that it matches what we requested? So in the code fragment you linked, should it verify if present and is `access_token` as that was the requested type?

[2020-03-18 13:45] UkonnRa commented on #376
In fact, I am new to OAuth2, so I cannot quite understand how to use the field `token_type`. The point is that, `token_type` seems an implement-specific field, which means that the possible values are based on the implemention. So maybe this field shoule not be checked by the library, but users themselves?

[2020-03-18 13:50] pmlopes opened #377 "Add auth config for https://www.ory.sh/"
Just like with other providers, add the defaults for this Open Source Indentity Server.

[2020-03-18 13:53] pmlopes commented on #376
Yes, most of the APIs are marked as "should", so sometimes is hard to get it right in a way that works for everyone...

[2020-03-18 13:53] pmlopes commented on #376
So I guess if we request to introspect a `access_token` then we should not allow if the response is `refresh_token` as it feels like we're not getting what we asked. But again it's like you wrote, should we (users) do this?

[2020-03-18 13:57] UkonnRa commented on #376
Well, it would be great if I can handle it myself, because the library have no idea what the possible values would be.

[2020-03-23 14:05] #376 closed

[2020-03-23 17:03] pmlopes commented on #377
@UkonnRa can you point me to the documentation on the `.well-known` openid connect for this provider? it would be interesting to add it as you reported that it showed some issues with the 3.x codebase.

[2020-03-23 19:12] pmlopes commented on #354
This module is oauth 2.0 only (so for oauth 1.0a indeed you need to use a different library, sorry)

[2020-03-23 19:12] #354 closed

[2020-03-23 19:45] pmlopes commented on #358
@jonathon-eastman I'm having some trouble to figure out what the issue is. Could you set up an account where I can connect to a try to debug the application? You can ping me privately on https://gitter.im/eclipse-vertx/vertx-users

[2020-03-23 22:37] UkonnRa commented on #377
You mean the doc of hydra? https://www.ory.sh/docs/hydra/sdk/api

[2020-04-06 05:20] hs-apotell opened #380 "Fail to decode token with GoogleAuth (and possibly GithubAuth)"
### Version

Version 4.0.0-milestone4, 3.8.5

### Context

When using GoogleAuth I encountered this exception -

`io.vertx.core.json.DecodeException: Failed to decode:Unrecognized token 'ɭ': was expecting ('true', 'false' or 'null')
 at [Source: (String)"ɭ�"; line: 1, column: 2]`

### Do you have a reproducer?

Discussion topic - https://groups.google.com/forum/#!topic/vertx/PHJx-ghoyuM

### Steps

[2020-04-06 08:48] pmlopes commented on #380
@hs-apotell I'm having some trouble reproducing the error. Can you please add a stack trace? I've tested with a simple google app I just created and I can see the login screen without issue on current master.

[2020-04-06 08:52] pmlopes commented on #380
Also note that your google callback is `/` which seems a bit odd to me:

[code]

As the callback url is `http://localhost:8080` then the path is  `""` is that correct?

[2020-04-06 18:46] hs-apotell commented on #380
@pmlopes The problem is after you attempt to login. The login screen shows up fine but once you provide your credentials, the callback path fails.

The callback string in `OAuth2AuthHandler` was a typo (copy/paste) error. The corrected statement in code is below.

`OAuth2AuthHandler googleOAuth2Handler = OAuth2AuthHandler.create(googleAuthProvider, "http://localhost:8080/oauth2callback");
`

Here'

[2020-04-07 10:59] pmlopes commented on #380
@hs-apotell I believe this issue is fixed on master, can you test it against the snapshot versions?

If you don't know how to enable snapshots, in your `~/.m2/settings.xml` (if you're on maven) add the following configuration:

[code]

From what I can tell on my test app, this doesn't happen anymore as the code you're referring from the stacktrace is already deprecated and not used (plus many fixe

[2020-04-15 14:59] sberyozkin opened #381 "Code grant request fails when OIDC server returns an opaque access token"
See https://github.com/quarkusio/quarkus/issues/8396.

(Auth0 docs do not recommend verifying the access token returned as part of the code grant since it is meant to be used by the client and as such as should be treated as opaque, it is id token which must be jwt)

I'd like to do a small PR which will add `OAuth2ClientOptions.verifyCodeFlowAccessToken` property, default is `true` to keep the cur

[2020-04-15 15:03] sberyozkin opened #382 "Improve the JWK based verification code"
Right now all the keys from the JWK set are iterated over in order to verify the token, and when the verification fails it is not possible in Quarkus to determine if the verification failed because there was no matching `kid` or it was something else => we can't do the on-demand JWKS load reliably.

I'd like to do a small PR with some minor updates

[2020-04-15 15:07] sberyozkin opened #383 "Improve the JWT verification exception reporting"
Right now we have to check an exception message content to figure out if the verification failure was due to the token expiry or not.
I guess we can try to introduce a `JwtVerificationException` and may be 2 subclasses like `JwtSignatureVerificationException` and `JwtExpiryException` or may be have a single extension and enum based property to indicate the actual problem. I can try a quick PR

[2020-04-30 12:28] pendula95 commented on #377
Here are 2 well-know it exposes. These are output for my local quick installation but should be suficient for what you are looking for.

- /.well-known/jwks.json
- /.well-known/openid-configuration

[hydra.zip](https://github.com/vert-x3/vertx-auth/files/4558241/hydra.zip)

[2020-05-01 01:31] pendula95 opened #385 "NPE Keystore cert with only public key"
### Version
Vertx 4.0.0-SNAPSHOT and 4.0 milestone

### Context

If using keystore that has certificate containing only public key and no private key NPE will be fired when kid is generated in JWK init method.

### Extra
`java.lang.NullPointerException
	at io.vertx.ext.jwt.JWK.<init>(JWK.java:383)
	at io.vertx.ext.jwt.JWK.from(JWK.java:204)
	at io.vertx.ext.auth.jwt.impl.JWTAuthProviderImpl.<init>

[2020-05-01 07:24] #385 closed

[2020-05-02 17:42] tiparega commented on #201
It already happens in 3.9.0:
https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jwt/src/main/java/io/vertx/ext/auth/jwt/JWTAuth.java#L65

This could be ok in the interface as you don't have the options (but I think it shouldn't be a default implementation), but the implementation should override it
https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-jwt/src/main/java/io/vertx/ex

[2020-05-08 11:05] #351 closed

[2020-05-08 12:36] sberyozkin commented on #382
Hey @pmlopes Starting working on it today should be ready by Monday eve at the latest

[2020-05-08 12:37] sberyozkin commented on #383
Hi Paulo, will try this one as well

[2020-05-08 18:27] pmlopes commented on #381
Looking at the `auth0` docs: https://auth0.com/docs/tokens/concepts/access-tokens

The docs state that you can have 2 kinds of tokens:

* `opaque`
* `jwt`

Also on the `jwt` section you can read:

I'm removing the `bug` label based on this.

[2020-05-08 18:35] pmlopes commented on #380
I'm closing this issue as it is assumed to be fixed and there is not interaction for a long time.

[2020-05-08 18:35] #380 closed

[2020-05-11 13:15] vietj opened #388 "Merge vertx-jwt in vertx-auth-common"

[2020-05-14 11:00] sberyozkin commented on #381
@pmlopes OK, so yes, it is not a bug as I know now in that Vertx, by verifying the code flow AT, be it opaque or JWT token, does not cause a linked Quarkus issue. The Auth0 doc which is relevant is:
[code]
In Quarkus case, OOB, AT is not meant for the Quarkus endpoint, only IdToken is, AT - is for Quarkus endpoint to propagate.

So this issue is really about letting such Quarkus endpoints not to d

[2020-05-14 11:00] #381 closed

[2020-05-14 11:13] #382 closed

[2020-05-14 15:18] pmlopes opened #392 "JWT will fail to validate keys which are longer than the expected bits"
A RS256 token with 512 bits signature will fail (even if correct) because the verify operation will not respect the key desired length.

[2020-05-18 09:14] #392 closed

[2020-05-18 09:41] #388 closed

[2020-05-22 11:27] pmlopes opened #396 "Add support for EdDSA"
Now that the JDK (will) ship with `Edwards-Curve Digital Signature Algorithm (EdDSA)` http://openjdk.java.net/jeps/339 JWT support will need to be updated to handle it too as it's part of the spec. Also `webauthn` should be updated to include the mapping of the new algorithms and `JWK` should be able to parse them.

[2020-05-22 12:18] pmlopes commented on #396
Depends on a JDK 15 release

[2020-05-23 09:25] pmlopes opened #397 "deprecate and move jwtoptions on 3.9"
For 4.0 jpms work we merged 2 modules but there's a data object that was used in a wrong package. In 3.9 it should be the new home of this class and the old location deprecated.

[2020-05-25 07:53] #397 closed

[2020-05-26 08:29] pmlopes commented on #273
Oauth2 now implements: Revoke an obtained access token. More info <a href="https://tools.ietf.org/html/rfc7009">https://tools.ietf.org/html/rfc7009</a>.

[code]

This is automatically discovered using openid on the google provider.

[2020-05-26 08:29] #273 closed

[2020-05-26 08:30] #260 closed

[2020-05-26 08:31] #282 closed

[2020-05-26 08:32] pmlopes commented on #234
Fixed by #399 and #400

[2020-05-26 08:32] #234 closed

[2020-05-26 09:08] mohamnag commented on #282
it would be very nice if by closing each ticket it is mentioned as of which version and how (a link to new/updated docs) this has been fixed ;)

[2020-05-26 09:31] pmlopes commented on #282
this has been merged on master a while ago. JWK reload are already on 3.9.1 and will be soon on 4.0.0 milestone 5

[2020-05-27 07:50] pmlopes commented on #372
Hi you're using the API wrong. `JWTOptions` are configuration used to control how the tokens should be generated or validated. If you want to create a token with such config you need to use:

[code]

[2020-05-27 07:50] #372 closed

[2020-07-06 12:41] philippguertler opened #402 "JWK with symmetric key is not base64url decoded"
### Version

Which version(s) did you encounter this bug ?
3.8.5, but also seems to exist with the current version 3.9.1.

### Context

I tried using JWT Auth with JWKs. For testing purposes I'm using a symmetric key. I expected that the key in the JWK must be base64url encoded, as stated in the RFC (https://tools.ietf.org/html/rfc7518#section-6.4.1).
However, the key is not decoded that way.

htt

[2020-07-07 12:16] #402 closed

[2020-07-15 15:02] tsegismont opened #404 "Credentials#checkValid breaks Rxified API generation"
Rxified API generation is broken since #401 has been merged.

The issue is with Credentials#checkValid

https://github.com/vert-x3/vertx-auth/blob/e136eb6d9b5dfcfeba55e2ca2370982f8337964c/vertx-auth-common/src/main/java/io/vertx/ext/auth/authentication/Credentials.java#L38-L39

The generated method does not declare the thrown checked exception and thus fails to compile. I'm not sure `codegen` supp

[2020-07-30 19:12] pmlopes commented on #285
JWKs and rotation is now fully handled on `oauth2` module which can also handle JWTs

[2020-07-30 19:12] #285 closed

[2020-08-04 15:29] pmlopes opened #405 "user profiles API for Oauth2 (maybe common)?"
Many of the oauth2 providers out there, have an extra API to fetch a user profile. A user profile usually contains:

* username
* name
* email
* photo

How interesting would it be to have a DataObject with this type safe structure and an extra method on the Oauth2 provider to fetch the profile?

[code]

Perhaps we could even "standardize" on the other providers to also have this? for example, jdbc

[2020-08-07 09:25] pmlopes opened #406 "oauth2 jwt flow validation is not correct"
Currently the validation accepts "access_tokens" during validation. The validation should explicitly deny this as this flow is used for server 2 server communication and it is responsible to create it's own tokens.

See: https://developers.google.com/identity/protocols/oauth2/service-account#callinganapi

![image](https://user-images.githubusercontent.com/849467/89631104-98507c80-d8a0-11ea-86bb-59

[2020-08-07 09:25] pmlopes commented on #406
This is a follow up from: https://groups.google.com/g/vertx/c/1_ufpAKwbJo

[2020-08-07 11:45] #406 closed

[2020-08-19 23:56] jymboche opened #408 "getToken() throws NoSuchMethodError in 3.9.2"
### Version

3.9.2

### Context

While following the official docs and creating a token as follows I get a NoSuchMethod Error:
[code]
[code]

If I downgrade to lower versions including 3.9.1 I dont encounter the error.

[2020-08-20 12:40] pmlopes commented on #408
Can you create a reproducer? It looks like you have a version alignment issue. Maybe corrupted artifact cache.

[2020-08-24 15:48] tsegismont opened #409 "Auth SQL client doc: wrong id forPassword-Based Key Derivation Function 2"
The Auth SQL client doc shows a wrong id forPassword-Based Key Derivation Function 2.

It uses `pkdbf2` instead of `pbkdf2`.

[2020-08-24 15:58] tsegismont opened #410 "Auth client SQL doc prints HTML instead of link to PHC string format"
Create the link instead

[2020-08-26 08:43] #409 closed

[2020-08-26 08:43] #410 closed

[2020-08-26 08:45] tsegismont opened #412 "SQL Client Auth not available in Rxified API"
I haven't checked but  it might be absent from Kotlin and Groovy too.

[2020-09-03 12:58] francoisprunier commented on #405
Hi Paulo,

That's a good idea.

We looked some time ago into having an easy way to get a user's email regardless of the authentication method, so what you're suggesting would be quite handy for that purpose.

Maybe call it BasicProfile to emphasize it's not meant to be everything and have all authn providers support it via custom queries.

[2020-09-11 13:33] pmlopes commented on #404
The exception is now runtime.

[2020-09-11 13:33] #404 closed

[2020-09-17 07:23] pmlopes opened #415 "Webauthn/FIDO2 MDS service"
The current webauthn support covers almost all the compliance tests, except `MDS`. It would be interesting for the sake of completion to have an implementation on vertx webauthn too.

https://fidoalliance.org/metadata/

https://fidoalliance.org/specs/fido-v2.0-id-20180227/fido-metadata-service-v2.0-id-20180227.html

This service should load and validate a TOC and allow queries on the metadata.

[2020-09-17 14:52] miriampe opened #416 "authenticate fails when id_token is null in client credential flow"
Version: 3.9

during client credential flow authentication, I encountered a problem, when id_token is null OAuth2UserImpl fails on validation.
I think is a bit brittle especially for client credentials where  id token is never expected.

`
public OAuth2UserImpl(OAuth2Auth provider, JsonObject principal) {

    this.principal = principal;
    // mitigate broken tokens
    if (
      !(principal.get

[2020-09-18 02:22] anuranjit commented on #415
@pmlopes Want to help . Came here from your gitter message .

[2020-09-18 11:53] pendula95 opened #417 "Add collection and updates of JWKS from OIDC/Oauth providers"
#### Describe the feature

When creating AuthHandler that is used to validate external JWTs, example Keycloak generated JWTs, best way to achieve this is to get info from .well-know and obtain info from jwks_uri uri and load keys. This is done on startup of the app and auth handler is generated with fix values obtained on start of application. During the lifetime of application JWT provider might

[2020-09-19 06:51] pmlopes commented on #415
Hi, great!

The goal here is to have a "service" that will download the FIDO2 toc file.

This file is a jwt. Once it's downloaded and valid, one needs to iterate the payload and download the statements.

Statements are json files. One needs to be safe and download only from trusted servers. After you need to verify the integrity of the json. The hash must match the toc.

Once this succeed, you can

[2020-09-19 06:57] anuranjit commented on #415
@pmlopes thanks. Will look at the links . FYI Still want to help 😀

[2020-09-19 07:01] pmlopes commented on #415
Great, if you want to get some inspiration on how to start, try to follow the oauth2 code on the jwkSet refresh

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/impl/OAuth2AuthProviderImpl.java#L74

It downloads a single json and set a periodic task to update it if needed.

[2020-09-19 16:54] pmlopes commented on #415
Once the TOC is parsed and validated it should download the metadata json files and pass them to:

https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-webauthn/src/main/java/io/vertx/ext/auth/webauthn/impl/attestation/Metadata.java#L191

`Metadata.loadStatement()`

Later we can add more methods, like `clear()`, `removeStatement(String aaguid)`, etc...

[2020-09-19 16:58] pmlopes commented on #417
Hi @pendula95, isn't this already covered by: https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-oauth2/src/main/java/io/vertx/ext/auth/oauth2/OAuth2Auth.java#L56-L69 ?

[2020-09-20 00:05] pendula95 commented on #417
Looks like my bad, I was looking for this feature at a wrong place. This is defined under oAuht2. One question before I close this. If I create OAuth2Auth using OpenIDConnectAuth is everything for automatic update of jwks done for me or I need to do something more?

[2020-09-20 05:04] pmlopes commented on #417
Well, it should. The oidc discovery sets up all the config based on the downloaded info, including jwks.

If it doesn't, it can be a bug as this is quite recent since 3.9 if I'm not mistaken.

[2020-09-20 07:20] anuranjit commented on #415
@pmlopes  Ok. Trying to understand the entire flow. Can i ping you on gitter if required ?

[2020-09-20 10:56] pmlopes commented on #415
@anuranjit sure.

[2020-09-21 07:11] pmlopes opened #418 "the fetch (http client helper) from oauth2 impl should move to common impl as it could be used by webauthn2 too"